@media print {

  body {
    background-color: transparent !important;
  }

  header, footer, #share, .fixed-action-btn, .modal-trigger, .modal-footer,
  #sessions #page-content {
    display: none !important;
  }
  
  #welcome {
    page-break-after: always;
  }

  #sessions .modal-content {
    display: block !important;
    page-break-after: always;
  }

}