---
layout: iframe
title: Documents
icon: folder_shared
form: https://goo.gl/forms/DBQIDyZS2uDDShJ82
---
<ul id="sidenav" class="side-nav fixed">
  <li class="flex">
    <ul>
      <li class="title"><span class="mdc-title">{{ page.title }}</span></li> {% for data in site.data[page.slug] %} {% if forloop.first == false %}
      <li><div class="divider"></div></li> {% endif %}
      <li><span class="subheader">{{ data.title }}</a></li> {% for data in data.docs %}
      <li><a target="frame" href="{{ data.url }}" class="waves-effect truncate"><i class="material-icons">{{ page.icon }}</i>{{ data.title }}</a></li> {% endfor %} {% endfor %}
    </ul>
  </li> {% if page.form %}
  <li><a href="{{ page.form }}" target="_blank" class="btn waves-effect">Submit {{ page.title }}</a></li> {% endif %}
</ul>
