---
layout: default
title: Website Sharing
icon: link
form: https://goo.gl/forms/ZCtdRHm4mU03THWA3
---
{% assign data = site.data.resources.websites | where_exp: "data", "data.featured == true" | sort: "title" %}
<main>
  <section class="section row">
    <div class="col s12">
      <h2 id="featured" class="mdc-display-2 adjust-margin">Featured Websites</h2>
    </div> {% for data in data %}
    <article class="col s12 m6">
      <div class="card small hoverable waves-effect waves-dark">
        <a href="{{ data.url }}" target="_blank">
          <div class="card-image">
            <img src="http://s.wordpress.com/mshots/v1/{{ data.url }}" alt="image of {{ data.name }}" />
          </div>
          <div class="card-content">
            <p class="mdc-title">{{ data.title }}<br />
              <span class="mdc-subheading-1">{{ data.url }}</span>
            </p>
          </div>
        </a>
      </div>
    </article> {% endfor %}
  </section>

  {% assign data = site.data.resources.websites | sort: "title" | group_by: "tag" | sort: "name" %} {% for data in data %}
  <section class="section row">
    <div class="col s12">
      <h2 id="{{ data.name | slugify }}" class="mdc-display-2 adjust-margin">{{ data.name }}</h2>
    </div> {% for data in data.items %}
    <article class="col s12 m6">
      <div class="card small hoverable waves-effect waves-dark">
        <a href="{{ data.url }}" target="_blank">
          <div class="card-image">
            <img src="http://s.wordpress.com/mshots/v1/{{ data.url }}" alt="image of {{ data.name }}" />
          </div>
          <div class="card-content">
            <p class="mdc-title">{{ data.title }}<br />
              <span class="mdc-subheading-1">{{ data.url }}</span>
            </p>
          </div>
        </a>
      </div>
    </article> {% endfor %}
  </section> {% endfor %}
</main>
<ul id="sidenav" class="side-nav fixed">
  <li class="flex">
    <ul>
      <li class="title"><span class="mdc-title truncate">{{ page.title }}</span></li>
      <li><a href="#featured">Featured Websites</a></li> {% for data in data %}
      <li><a href="#{{ data.name | slugify }}">{{ data.name }}</a></li> {% endfor %}
    </ul>
  </li> {% if page.form %}
  <li><a href="{{ page.form }}" target="_blank" class="btn waves-effect">Submit {{ page.slug }}</a></li> {% endif %}
</ul>
