# Site settings
logo:
title: Colorado Adult Education Professional Association
description: | # Scalar content can be written in block notation, | Literal style , > Folded style
  Providing Colorado Leadership in Adult Education and Literacy since 1935.
  The Colorado Adult Education Professional Association, CAEPA, provides leadership to the field of adult education and family literacy by offering opportunities for professional development, advocacy, and resource sharing to improve the quality of life for every Coloradan.

baseurl: "" # the subpath of your site, e.g. /blog
url: "http://www.caepa.org"

repository: caepa/caepa.github.io
email: admin@caepa.org

google_analytics_id: UA-76548901-1
google_site_verification: 9aWiSPXxIMqz4XsA1BbxONHgHSSVeTczQFS0fJcgEZE

sponsors:
  - title: "Aztec Software"
    img: "@aztecsoftware.jpg"
    twitter: "https://twitter.com/aztecsoftware"
    url: "http://www.aztecsoftware.com"
    tier: "Platinum"
  - title: "COABE"
    img: "@COABEHQ.jpg"
    twitter: "https://twitter.com/COABEHQ"
    url: "http://www.coabe.org"
    tier: "Bronze"
  - title: "Paxen Publishing"
    img: "@PaxenPublishing.jpg"
    facebook: "https://www.facebook.com/paxenpublishing"
    twitter: "https://twitter.com/PaxenPublishing"
    url: "https://www.paxenpublishing.com"
    tier: "Bronze"

# seo
twitter:
  username: caepa_co
facebook:
  app_id: 313577104485
  publisher: 313577104485
  admins: 776863769
social:
  name: CAEPA
  links:
    - https://www.facebook.com/caepa.co
    - http://github.com/caepa
    # - https://www.linkedin.com/company/caepa-co
    - https://www.linkedin.com/company/colorado-adult-education-professional-association-caepa- # currently inaccessible
    - https://twitter.com/caepa_co
    - http://news.caepa.org/feed.xml

# Social media buttons
social_media:
  # - name: dropbox
  #   url:  http://dropbox.com
  # - name: google-plus
  #   url:  http://plus.google.com/caepaboard
  - name: facebook
    url:  https://www.facebook.com/caepa.co
  - name: github
    url:  http://github.com/caepa
  - name: linkedin
  #   url:  https://www.linkedin.com/company/caepa-co/
    url:  https://www.linkedin.com/company/colorado-adult-education-professional-association-caepa- # inaccessible
  - name: rss
    url:  http://news.caepa.org/feed.xml
  - name: twitter
    url:  https://twitter.com/caepa_co

# Build settings
# See: https://jekyllrb.com/docs/configuration/#default-configuration
future: true
timezone: America/Denver
material-web-components: "0.40.1"
plugins:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-seo-tag
sass:
  #load_paths:
  #  - assets/css
  style: compressed

# Site collections
collections_dir: collections
collections:
  abea:
    output: false #
  bylaws:
    output: false #
  forms:
    output: true
  home:
    output: false #
  news:
    output: false # external site
  pages:
    output: true
    permalink: /:path
  rendezvous:
    output: true
  resources:
    output: true

# Front matter defaults
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      type: posts
    values:
      layout: "post"
      author: CAEPA
      permalink: /:categories/:title
  -
    scope:
      type: forms
    values:
      layout: "default__embed"
  -
    scope:
      type: resources
    values:
      layout: "default__embed"
