---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <!--
    <main class="slider">
      <ul class="slides">
        <li>
          <img src="{{ "/img/sunset.jpg" | prepend: site.baseurl }}">
          <div class="caption center-align">
            <div id="slide-logo" class="row container">
              <img src="{{ "/img/logo.png" | prepend: site.baseurl }}" />
              <h1 class="grey-text text-lighten-3">{{ site.title }}
              </h1>
            </div>
            <div class="row">
              <p class="flow-text light grey-text text-lighten-4">{{ site.name }}</p>
            </div>
          </div>
        </li>
      </ul>
    </main>
    -->
    <main class="parallax-container valign-wrapper">

      <div class="container center-align">
        <div id="logo" class="row">
          <img src="{{ "/img/logo.png" | prepend: site.baseurl }}" />
          <h1 class="grey-text text-lighten-3">{{ site.title }}
          </h1>
        </div>
        <div class="row">
          <p class="flow-text light grey-text text-lighten-4">{{ site.name }}</p>
        </div>
      </div>

      <div class="parallax">
        <img src="{{ "/img/sunset.jpg" | prepend: site.baseurl }}">
      </div>
    </main>

    {% include footer.html %}

  </body>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>

</html>