<article class="section row">
  <div class="col s12 m5">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" alt="thumbnail" {% if post.image_path != null %} src="{{ post.image_path | prepend: "/img/events/" }}" {% else %} src="/img/events/default.jpg" style="padding:20px;"{% endif %} />
      </div>

      <div class="card-content">
        <span class="card-title truncate activator grey-text text-darken-4">
          <i class="material-icons right hide-on-med-and-up">more_vert</i>
          {{ post.title }}
        </span>
        <p>
          <a href="https://www.google.com/maps/place/{{ post.venue.name | replace: ' ','%20' }}+{{ post.venue.address | replace: ' ','%20' }}%20+{{ post.venue.city | replace: ' ','%20' }}+{{ post.venue.state | replace: ' ','%20' }}%20+{{ post.venue.zipcode  | replace: ' ','%20' }}" target="_blank">
            <i class="material-icons left">map</i>{{ post.venue.name }}
          </a>
        </p>
      </div>

      <div class="card-action">
        <a href="{{ post.event_url }}" target="_blank">{{ post.event_url | remove: 'http://' }}</a>
        <a href="{{ post.offers.payment_url }}" target="_blank">Registration</a>
      </div>

      <div class="card-reveal hide-on-med-and-up">
        <span class="card-title">
          <span class="btn-floating right waves-effect waves-light red">
            <i class="material-icons">close</i>
          </span>
          <a href="/events/colfax-marathon.html">{{ post.title }}</a>
        </span>
        <div class="flow-text">
          {{ post.content | strip_html | truncatewords: 100 }}
          <a href="{{ post.url }}">read more</a>
        </div>
      </div>

    </div>
  </div>

  <div class="col s12 m7 hide-on-small-only">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <div class="flow-text">
      {{ post.content | strip_html | truncatewords: 50 }}
      <a href="{{ post.url }}">read more</a>
    </div>
  </div>
</article>

<div class="divider"></div>