<!-- this loops through page.data... use same loop to retrieve google_url in layout: forms_frame -->
<ul class="collapsible" data-collapsible="expandable">
  <li class="center-align">
    <a class="brand-logo" style="font-weight:900; font-size:2.1rem;">
      <span>{{ site.title }}</span>
    </a>
  </li>
  {% for type in site.data.forms %}
  <li class="active">
    <div class="collapsible-header active">
      <i class="material-icons">expand_more</i>
      <span style="font-weight: 500;">{{ type.type | upcase }}</span>
    </div>
    <div id="forms" class="collapsible-body">
      <!-- change href to "item.google_url" and add target="iframe" to have zero page reload but no url change -->
      <ul>
        {% for form in type.forms %}
        <li class="{% if page.url contains form.title %}active {% endif %}waves-effect waves-dark" style="width:100%;">
          {% for page in site.forms %}
          {% if page.url contains form.title %}
          <a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
            <span>{{ page.title  | remove: "The" | titleize }}</span>
          </a>
          {% endif %}
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </li>
  {% endfor %}
</ul>