<header class="post-header {{ page.color_accent }} white-text z-depth-1">
  <div class="container">
    <div class="section">
      <div class="row /*valign-wrapper*/">
        <div class="col s12 m9">{% if page.theme %}
          <h1 class="post-title thin">{{ page.theme | replace: '_',' ' | titleize }}</h1>{% else %}
          <h1 class="post-title thin">{{ page.title | replace: '_',' ' | titleize }}</h1>{% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if page.tabs != null %}
  <div class="row">
    <div class="tabs-wrapper {{ page.color_accent }} z-depth-1" style="width:100%; z-index:997;">
      <div class="container">
        <div class="col s12 m10 l9 no-padding">
          <ul class="tabs">
            {% if layout.tabs != null %}{% for tab in layout.tabs %}
            <li class="tab waves-effect waves-light">
              <a href="#tab{{ forloop.index0 }}">{{ tab }}</a>
            </li>
            {% endfor %}
            {% else %}{% for tab in page.tabs %}
            <li class="tab waves-effect waves-light">
              <a href="#tab{{ forloop.index0 }}">{{ tab }}</a>
            </li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
        <div class="col m2 l3 no-padding right-align hide-on-small-only" style="height:48px;" role="button">
          <a href="#share" class="modal-trigger btn-floating btn-large grey darken-1 waves-effect waves-light tooltipped" style="top:20.25px; right:-27.25px;" data-position="left" data-tooltip="Share this page...">
            <i class="material-icons right">share</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</header>