<nav class="mdc-top-app-bar" aria-label="{{ page.navigation }}" data-mdc-auto-init="MDCTopAppBar">
  <div class="mdc-top-app-bar__row">
    <span class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">

      {%- if page.navigation -%}
      <button class="mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="open {{ page.navigation }} menu" aria-haspopup=”true”>
        <i class="mdc-button__icon material-icons material-icons-outlined" aria-hidden="true">menu</i>
      </button>
      {%- endif -%}

      <span class="mdc-top-app-bar__brand" aria-hidden="true">
        <img class="mdc-top-app-bar__logo" src="{{ page.image | default: 'caepa-title.svg' | prepend: '/assets/img/caepa/' }}" alt="CAEPA" />
        <span class="mdc-top-app-bar__title">{{ page.current-view }}</span>
      </span>
    </span>

    <span class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="menubar" aria-label="{{ site.title }}">

      {% assign data = site.data.navigation | where:"button",true %}
      {%- for data in data -%}
      <a class="mdc-top-app-bar__action-item mdc-button" href="{{ data.url | absolute_url }}" role=”menuitem”>
        <span class="mdc-button__label">{{ data.title }}</span>
      </a>
      {%- endfor -%}

      <div id="navigation-anchor" class="mdc-menu-surface--anchor">

        <button id="navigation-button" class="mdc-top-app-bar__action-item mdc-icon-button" role=”menuitem” aria-label="open main menu" aria-haspopup=”true”>
          <i class="mdc-button__icon material-icons material-icons-outlined" aria-hidden="true">apps</i>
        </button>

        <div id="navigation-menu" class="mdc-menu mdc-menu-surface"
             itemscope itemtype="http://www.schema.org/SiteNavigationElement">
          <ul class="mdc-list mdc-list--avatar-list" role="menu" aria-hidden="false" aria-orientation="vertical" tabindex="0">

            <li itemprop="name">
              <a itemprop="url" class="mdc-list-item" href="{{ site.url | absolute_url }}" role="menuitem">
                <img class="mdc-list-item__graphic" src="{{ page.image | default: 'caepa-icon.svg' | prepend: '/assets/img/caepa/' }}" alt="CAEPA" style="height: 24px;" aria-hidden="true" />
                <img class="mdc-list-item__text" src="{{ page.image | default: 'caepa-title.svg' | prepend: '/assets/img/caepa/' }}" alt="CAEPA" style="height: 16px;" />
              </a>
            </li>

            {%- for data in site.data.navigation -%}
            <li itemprop="name">
              <a itemprop="url" class="mdc-list-item" href="{{ data.url | absolute_url }}" role="menuitem">
                <i class="material-icons material-icons-outlined mdc-list-item__graphic" aria-hidden="true">{{ data.icon }}</i>
                <span class="mdc-list-item__text">{{ data.title }}</span>
              </a>
            </li>
            {%- endfor -%}

          </ul>
        </div>

      </div>
    </span>
    
  </div>
</nav>
