<aside for="apps" class="mdc-drawer mdc-drawer--dismissible">
  <div class="mdc-drawer__content">
    <nav class="mdc-list">

      <span class="mdc-list-group__subheader">www.caepa.org</span>

      <a class="mdc-list-item" role="menuitem" href="{{ "bylaws" | absolute_url }}" target="_self">
        <i class="mdc-list-item__graphic material-icons">assignment</i>
        <span class="mdc-list-item__text">Bylaws</span>
      </a>
      <a class="mdc-list-item" role="menuitem" href="{{ "factsheets" | absolute_url }}" target="_self">
        <i class="mdc-list-item__graphic material-icons">info</i>
        <span class="mdc-list-item__text">Factsheets</span>
      </a>
      <a class="mdc-list-item" role="menuitem" href="{{ "forms" | absolute_url}}" target="_self">
        <i class="mdc-list-item__graphic material-icons">description</i>
        <span class="mdc-list-item__text">Forms</span>
      </a>
      <a class="mdc-list-item" role="menuitem" href="{{ "abea" | absolute_url }}" target="_self">
        <i class="mdc-list-item__graphic material-icons">check_box</i>
        <span class="mdc-list-item__text">Certification</span>
      </a>
      <a class="mdc-list-item" role="menuitem" href="{{ "professional-learning" | absolute_url }}" target="_self">
        <i class="mdc-list-item__graphic material-icons">event</i>
        <span class="mdc-list-item__text">Professional Learning</span>
      </a>
      <a class="mdc-list-item" role="menuitem" href="{{ "resources" | absolute_url }}" target="_self">
        <i class="mdc-list-item__graphic material-icons">extension</i>
        <span class="mdc-list-item__text">Resource Sharing</span>
      </a>
      <a class="mdc-list-item" role="menuitem" href="{{ "timeline" | absolute_url }}" target="_self">
        <i class="mdc-list-item__graphic material-icons">history</i>
        <span class="mdc-list-item__text">Timeline History</span>
      </a>

      <div class="mdc-list-divider" role="separator"></div>

      <span class="mdc-list-group__subheader">news.caepa.org</span>

      <span id="news-caepa-org-menu">
        <a class="mdc-list-item" role="menuitem" href="http://news.caepa.org" target="_self">
          <i class="mdc-list-item__graphic material-icons">looks_one</i>
          <span class="mdc-list-item__text">Welcome</span>
        </a>
        <a class="mdc-list-item" role="menuitem" href="{{ "/contribute" | prepend: "http://news.caepa.org" }}" target="_self">
          <i class="mdc-list-item__graphic material-icons">looks_two</i>
          <span class="mdc-list-item__text">Contribute</span>
        </a>
        <a class="mdc-list-item" role="menuitem" href="{{ "/subscribe" | prepend: "http://news.caepa.org" }}" target="_self">
          <i class="mdc-list-item__graphic material-icons">looks_3</i>
          <span class="mdc-list-item__text">Subscribe</span>
        </a>
      </span>

    </nav>
  </div>
</aside>
