{%- if page.forms OR page.relatedItems -%}

<h2 class="mdc-typography--headline2">Related Items</h2>

<ul class="mdc-image-list mdc-image-list--with-text-protection">

  {%- for items in page.forms -%}
  {%- assign forms = site.forms | where_exp: "item", "item.slug == items" -%}

  {%- for form in forms -%}
  <li class="mdc-image-list__item">
    <a href="{{ form.url }}">
      <div class="mdc-image-list__image-aspect-container mdc-ripple-surface">
        <img class="mdc-image-list__image" src="//image.thum.io/get/width/300/{{ form.google_url }}" aria-hidden="true">
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">{{ form.title }}</span>
      </div>
    </a>
  </li>
  {%- endfor -%}
  {%- endfor -%}

  {%- for item in page.relatedItems -%}
  <li class="mdc-image-list__item">
    <a href="{{ item.url }}">
      <div class="mdc-image-list__image-aspect-container mdc-ripple-surface">
        <img class="mdc-image-list__image" src="//image.thum.io/get/width/300/{{ item.url }}" aria-hidden="true">
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">{{ item.title }}</span>
      </div>
    </a>
  </li>
  {%- endfor -%}

</ul>

{%- endif -%}
