<div class="navbar-fixed">
  <nav class="{{ page.color }}">
    <div class="nav-wrapper container">
      <ul class="brand-logo">
        <img class="left hide" style="height:64px; padding:5px 5px 0 15px;" alt="Logo" src="{{ site.logo | prepend: site.baseurl | prepend: site.url }}" />
        <li style="font-weight:900;">{{ site.title }}
          {% if page.url == "/" %}
          {% elsif page.categories != null %}
          <span class="light">&ensp;&#124;&ensp;{{ page.categories | join: ', ' }}</span>
          {% else %}
          <span class="light">&ensp;&#124;&ensp;{{ page.title | downcase }}</span>
          {% endif %}
        </li>        
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a><i class="material-icons right">build</i>Under Construction!</a></li>
      </ul>
    </div>
  </nav>
</div>
