<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul class="brand-logo">
        <img class="left hide-on-med-and-down" style="height:64px; padding:5px 5px 0 15px;" alt="Logo" src="{{ "/img/" | append: site.logo | prepend: site.baseurl }}" />
        <li style="font-weight:900;">{{ site.name }}<span class="thin">&ensp;&#124;&ensp;{{ page.title }}</span></li>        
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a><i class="material-icons right">build</i>Under Construction!</a></li>
      </ul>
    </div>
  </nav>
</div>
