<div class="fixed-action-btn" style="bottom:33%; left:27.75px;">
  {% if page.previous.url %}
  <a class="prev btn-floating btn-large" href="{{page.previous.url}}">
    <i class="large material-icons">chevron_left</i>{{ page.previous.title }}</a>
  {% endif %}
</div>
<div class="fixed-action-btn" style="bottom:33%; right:27.75px;">
  {% if page.next.url %}
  <a class="next btn-floating btn-large" href="{{page.next.url}}">
    <i class="large material-icons">chevron_right</i>{{ page.next.title }}</a>
  {% endif %}
</div>