<!-- begin forms-list  -->
{% for data in site.data.forms %}
<div id="page-content" class="collection with-header z-depth-1">
  <div id="accent" class="{{ page.color }} accent-1"></div>
  <div class="collection-item">
    <i class="material-icons left {{ page.color }}-text text-accent-1">description</i>
    <span class="flow-text"><b>{{ data.type }}</b></span>
  </div>
  <!-- forms list -->
  {% for form in data.forms %}
  <a href="{{ form.url }}" class="title collection-item">
    <span>{{ form.title }}</span>
  </a>
  {% endfor %}
</div>
{% endfor %}