<!-- card circle displays date // icon datetime required-->
{% assign cat = include.category %}
{% for post in site.categories.[cat] %}

{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}

<h3 class="light grey-text text-darken-1 flow-text truncate">{{ currentdate }}{% if page.categories != null %}<span class="thin"> {{ page.categories[0] | replace: '_',' ' | titleize }}</span>{% endif %}</h3>

{% assign date = currentdate %}
{% endif %}

<article class="card hoverable">
  <div id="accent" class="{{ page.color }} accent-1"></div>

  <div class="card-content row grey-text text-darken-3">

    <div class="col s12 m2 center-align " style="margin:1.46rem 0 1.168rem 0;">
      <div class="container {{ page.color }} accent-1 circle" style="height:76px; width:76px; padding-top:9px;">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          <span class="month grey-text text-lighten-4" style="display:block; line-height:26px; font-size:16px;">
            {{ post.date | date: "%b" }}</span>
          <span class="day white-text" style="display:block; line-height:26px; font-size:27px;">
            {{ post.date | date: "%d" }}</span>
        </time>
      </div>
    </div>

    <div class="col s12 m10">
      <a class="flow-text truncate" href="{{ post.url }}">
        <b>{{ post.title | strip_html | strip_newlines | replace: '_',' ' }}</b>
      </a>
      {% if post.author %}<p><strong>{{ post.author }}</strong></p>{% endif %}
      <span>{{ post.content | strip_html | replace: '\n', ' ' | strip | truncatewords: 50 }}</span>
    </div>

  </div>

  <div class="card-action">
    {% if post.docs != null %}
    {% for doc in post.docs limit:2 %}
    <a href="{{ doc.url }}" target="_blank">
      <span>{{ doc.title }}</span>
    </a>
    {% endfor %}
    {% else %}        
    <a href="{{ post.url }}"><i class="material-icons left">exit_to_app</i>read more...</a>
    {% endif %}
  </div>

</article>

{% endfor %}