{% assign cat = include.category %}
{% for post in site.categories.[cat] %}

{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
<div class="collection with-header">
  <div class="collection-item">
    <h3 class="grey-text text-darken-3 light truncate">{{ currentdate }}<span class="thin"> | {{ page.tabs[1] }}</span></h3>    
  </div>
</div>
{% assign date = currentdate %}
{% endif %}

<div class="card-panel haverable">
  <div class="row">
    <div class="col s12 m2 center-align " style="margin:1.46rem 0 1.168rem 0;">
      <div class="container {{ page.color_accent }} circle" style="height:76px; width:76px; padding-top:9px;">
        <span class="month grey-text text-lighten-4" style="display:block; line-height:26px; font-siz:16px;">
          {{ post.date | date: "%b" }}</span>
        <span class="day white-text" style="display:block; line-height:26px; font-size:27px;">
          {{ post.date | date: "%d" }}</span>
      </div>
    </div>
    <div class="col s12 m10">
      <h4><a href="{{ post.url }}" class="truncate">{{ post.title | strip_html | strip_newlines | replace: '_',' ' }}</a></h4>
      <p class="flow-text" style="line-height:1.5; text-align:justify;">{{ post.content | strip_html | strip_newlines | truncatewords: 25 }}</p>
      <strong><a href="{{ post.url }}">read more...</a></strong>
    </div>
  </div>
</div>

{% endfor %}