{% assign cat = page.title | downcase %}
{% for post in site.categories.[cat] %}

{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
<h3 class="grey-text text-darken-1">{{ currentdate }}</h3>
{% assign date = currentdate %}
{% endif %}

<div class="card-panel">
  <div class="row">
    <div class="col s12 m2 center-align">
      <div class="circle container {{ post.color_accent }} white-text" style="height:76px; width:76px; padding-top:9px;">
        <span class="month" style="display:block; line-height:26px; font-siz:16px;">
          {{ post.date | date: "%b" }}</span>
        <span class="day" style="display:block; line-height:26px; font-size:27px;">
          {{ post.date | date: "%d" }}</span>
      </div>
    </div>
    <div class="col s12 m10 flow-text">
      <a href="{{ post.url }}" class="card-title truncate">
        <h4>{{ post.title | strip_html }}</h4>
      </a>
      <span>{{ post.content | strip_html | truncatewords: 33 }}</span>
      <a href="{{ post.url }}" class="light">read more</a>
    </div>
  </div>
</div>

{% endfor %}