<div id="share" class="modal" role="dialog">
  <div class="modal-content">
    <h5 class="grey-text text-darken-1">Share this page...</h5>
    <div class="collection">
      <a class="collection-item" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-facebook-square fa-2x left"></i>Share on Facebook</a>
      <a class="collection-item" target="_blank" href="https://twitter.com/home?status={{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-twitter-square fa-2x left"></i>Share on Twitter</a>
      <a class="collection-item" target="_blank" href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-google-plus-square fa-2x left"></i>Share on Google+</a>
      <a class="collection-item" target="_blank" href="mailto:?&body={{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="material-icons left">email</i>Email</a>
    </div>
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>Close</a>
  </div>
</div>