<!-- upcoming events -->
{% capture y %}{{ site.time | date: "%Y" }}{% endcapture %}

<h3 class="light grey-text text-darken-1 flow-text truncate">{{ "Upcoming Events" | titleize }}</h3>

<div class="section row">

  {% for page in site.categories.events reversed %}
  {% if page.year == 2016 %}
  <article class="col s12">
    <div class="card hoverable">
      <div id="accent" class="{{ page.color }} accent-1"></div>

      <div class="card-content grey-text text-darken-3 flow-text">
        <span class="center-align right" style="padding-left:20px; height:6.8rem;">
          <img class="grey lighten-3 hide-on-small-only" alt="thumbnail" {% if page.image_path != null %} src="{{ page.image_path | prepend: site.baseurl | prepend: site.url }}" {% else %} src="{{ site.icon }}"{% endif %} style="height:100%; padding:5px;">
        </span>
        <h3 class="truncate"><a href="{{ page.url }}">{{ page.title }}</a></h3>
        {% if page.theme %}
        <p class="truncate">{{ page.theme | strip_html | strip_newlines | replace: '_',' ' }}</p>
        <small class="truncate">{{ page.author }}</small>
        {% else %}
        <p class="truncate">{{ page.author }}</p>
        {% endif %}
      </div>
      <!-- replace with schedule
<div class="card-content grey lighten-3">
{% if page.start_date %}
<time datetime="{{ page.start_date | date_to_xmlschema }}"><i class="material-icons left">schedule</i>{{ page.start_date | date: "%A, %B %-d, %Y" }}</time>
{% else %}
<time datetime="{{ page.date | date_to_xmlschema}}"><i class="material-icons left">schedule</i>{{ page.date | date: "%A, %B %-d, %Y" }}</time>
{% endif %}
</div>

<div class="card-content flow-text">
<p style="text-align:justify;">{{ page.content | strip_html | truncatewords: 100 }}</p>
</div>
-->    
      {% for data in site.data.rendezvous %}
      {% if data.year == y %}

      <div class="card-action truncate">
        {% if page.docs != null %}
        {% for doc in page.docs limit:3 %}
        <a href="{{ doc.url }}">
          <span>{{ doc.title }}</span>
        </a>
        {% endfor %}
        {% else %}        
        <a href="{{ page.url }}"><i class="material-icons left">exit_to_app</i>read more...</a>
        {% endif %}
      </div>      
    </div>

    <ul id="page-content" class="collection with-header z-depth-1">
      <li id="accent" class="{{ page.color }} accent-1"></li>
      <li class="collection-header">
        <h4>The {{ y }} Forums</h4>
      </li>
    </ul>

    {% include event/schedule.html year=y %}

    {% endif %}
    {% endfor %}

  </article>
  {% endif %}
  {% endfor %}
</div>