.mdc-drawer--dismissible {
  position: fixed;
  overflow: auto;
  &.mdc-drawer--open ~ * {
    padding-left: 255px;
  }

  &.mdc-drawer--open ~ iframe,
  &.mdc-drawer--open ~ .table-content,
  &.mdc-drawer--open ~ footer {
    width: calc(100% - 255px);
  }
}
