.mdc-drawer {
  height: 100%;

  & .mdc-drawer__content {
    overflow-y: auto;
    touch-action: pan-y;
  }
}

.mdc-drawer--persistent.mdc-drawer--open,
.mdc-drawer--persistent .mdc-drawer__drawer {
  width: 320px;

  @media (max-width: 839px) {
  }
}
