<script type="application/ld+json">    
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "logo": "{{ "/img/logo.png" | prepend: site.baseurl | prepend: site.url }}",
  "name" : "{{ site.title }}",
  "legalName" : "{{ site.name }}",
  "url" : "{{ site.baseurl | prepend: site.url }}",
  "description" : "{{ site.mission }}",
  "foundingDate" : "1931",
  "areaServed" : "Colorado",
  "subOrganization" : [
    "COABE",
    "MPAEA"
  ],
  "sameAs" : [
    "https://www.linkedin.com/company/colorado-adult-education-professional-association-caepa-",
    "https://www.facebook.com/caepa.co",
    "https://twitter.com/intent/follow?screen_name=caepa_co",
    "http://github.com/caepa"
  ]
}
</script>