---
---
@import "materialize";
@import "social_icons";
@import "mdc-typography";
@import "materialize-stepper";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: ghostwhite;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

::selection {
  background: #CC9933;
}

::-moz-selection {
  background: #CC9933;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

main, .flex {
  flex: 1 0 auto;
}

.home main {
  padding-left: 0;
}

.caepa-red {
  background-color: #662222;
}
.caepa-gray {
  background-color: #424242;
}

// mobile first css
.navbar-fixed {
  margin-bottom: $navbar-height-mobile;
}

.home>.navbar-fixed {
  margin-bottom: ($navbar-height-mobile * 2);
}

.btn-block{
  margin-top: 6px;
  display: block;
}

.page-form-frame iframe {
  height: 100vh;
  width: 100%;
  margin-top: -($navbar-height-mobile * 2);
}

.page-rendezvous>.navbar-fixed {
  margin-bottom: 0;
}

// fullscreen sidenav
.side-nav li.title {
  height: $navbar-height-mobile;
  line-height: $navbar-height-mobile;
  border-bottom: 1px solid #e0e0e0;
}

.side-nav li>span {
  padding: 0 ($sidenav-padding * 2);
}

@media #{$large-and-up} {
  nav span.mdc-title {
    margin-left: 18px;
  }
  .btn-block {
    margin-top: 6px;
    display: inline-block;
  }
}

@media #{$medium-and-up} {
  .navbar-fixed {
    margin-bottom: $navbar-height;
  }
  .page-form-frame iframe {
    margin-top: -($navbar-height * 2);
  }
  .side-nav li.title {
    height: $navbar-height;
    line-height: $navbar-height;
  }
  .nav-wrapper {
    padding: 0 15px 0 0;
  }
}


main, iframe, footer .nav-wrapper {
  padding-left: 300px;
}

@media #{$medium-and-down} {
  main, iframe, footer .nav-wrapper  {
    padding: 32px 0 0 0;
  }
}


nav img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.side-nav img{
  height: 1.25rem;
}

.navbar-fixed.footer nav {
  bottom: 0;
}


/* under review */
dl {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
}
dt {
  /*flex: 1 0 14%;*/
  float: left;
  clear: left;
  width: 144px;
  font-weight: 400;
  color: #424242;
}
dd {
  /*flex: 1 0 80%;*/
  margin: 0 0 0 192px;
  padding: 0 0 0.5em 0;
  & dt {
    all: inherit;
  }
  & dd {
    margin: 0 0 0 48px;
    padding: 0;
  }
}

.card>.accent,
.collection>.accent {
  height: 8px;
  border-radius: 2px 2px 0 0;
  background-color: $secondary-color;
}

#schedule-one, #schedule-two,
#schedule-two .valign-wrapper, #schedule-two .valign-wrapper  {
  min-height: 400px;
}
