---
---
// THEME VARIABLE
$theme-primary: #662222;
$theme-secondary: #424242;
$theme-tertiary: #CC9933;

// SASS PARTIALS
@import "_social_icons";
//@import "home";
//@import "bylaws";
@import "mdc-button";
@import "mdc-card";
@import "mdc-drawer";
@import "mdc-image-list";
@import "mdc-layout-grid";
@import "mdc-menu";
@import "mdc-tab-bar";
@import "mdc-top-app-bar";
@import "mdc-typography";

// GLOBAL SASS
:root {
  --mdc-theme-primary: #662222;
  --mdc-theme-secondary: #424242;
  --mdc-theme-tertiary: #CC9933;
}

::selection {
  background: $theme-tertiary;
}

::-moz-selection {
  background: $theme-tertiary;
}

a {
  color: $theme-primary;
  font-weight: bold;

  &.mdc-list-item__meta {
    text-decoration: none;
  }
}

b, strong {
  font-weight: bold;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%
}
