---
layout: page
title: Fact Sheets
color: amber darken-4
color_accent: amber darken-3
icon: 

tabs: [Articles, Printable PDF]
---
{% assign cat = page.title | replace: ' ','_' | downcase %}
<section id="tab1">
  {% for post in site.categories.[cat] %}
    {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        <h2 class="grey-text text-darken-1">{{ currentdate }}</h2>
        {% assign date = currentdate %}
      {% endif %}

    {% include post_card.html %}

  {% endfor %}
</section>

<section id="tab2">
  <h2 class="grey-text text-darken-1">{{ page.tabs[1] }}
    <span class="thin"> | {{ page.title }}</span>
  </h2>
  
</section>
