<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"https://google.com/article"
  },
  "headline": "Article headline",
  "image": {
    "@type": "ImageObject",
    "url": "https://google.com/thumbnail1.jpg",
    "height": 800,
    "width": 800
  },
  "datePublished": "2015-02-05T08:00:00+08:00",
  "dateModified": "2015-02-05T09:20:00+08:00",
  "author": {
    "@type": "Person",
    "name": "John Doe"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Google",
    "logo": {
      "@type": "ImageObject",
      "url": "https://google.com/logo.jpg",
      "width": 600,
      "height": 60
    }
  },
  "description": "A most wonderful article"
}
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
    	"@type": "website",
    	"name": "CAEPA",
        "url": "http://something.com"
    },
    "publisher": {
    	"name": "blog.caepa.org",
        "logo": "http://www.caepa.org/logo.png"
    },
    "author": {
        "@type": "Person",
        "name": "CAEPA",
        "image": "http://blog.caepa.org/content/images/2016/01/Logo-CAEPA-icon-large-256x256.png",
        "url": "http://blog.caepa.org/author/caepa/",
        "sameAs": "http://www.caepa.org",
        "description": "...offering opportunities for professional development, advocacy, and resource sharing to improve the quality of life for every Coloradan."
    },
    "headline": "Lisa Taylor—Right to Read of Weld County",
    "url": "http://blog.caepa.org/lisa-taylor-right-to-read-of-weld-county/",
    "datePublished": "2015-11-30T23:23:41.313Z",
    "dateModified": "2016-01-10T21:00:44.128Z",
    "image": "http://www.righttoread.net/Images/PurpleBanner.jpg",
    "keywords": "Newsletter, Program Spotlight",
    "description": "http://www.righttoread.net/ When I was in graduate school a friend of mine encouraged me to teach a class at Right to Read Adult Education Center. Before visiting the school, I thought “adult education” was a song by Hall &amp;amp; Oates, but by the end of one semester I"
}
    </script>