<!-- awards modals / id by name-form -->
{% assign year = include.year %}

{% if site.data[year]awards != null %}
{% for data in site.data[year]awards %}

{% if data.Accepted == "Yes" %}
<div id="{{ data.name | append: '-' | append: data.form | slugify }}" class="modal modal-fixed-footer">

  <!-- awards modal -->
  <div class="modal-content">
    <span class="grey-text text-darken-2">
      <p class="light">The {{ year }} Rendezvous</p>

      <!-- awards organization -->
      <h4>{{ data.form }}</h4>

      <!-- award nominee -->
      {% if data.email %}
      <address><a href="mailto:{{ data.email }}">{{ data.name }}</a></address>
      {% else %}
      <em>{{ data.name }}</em><br />
      {% endif %}

      <!-- awards city -->
      {% if data.city %}
      <small>{{ data.city }}, Colorado</small>
      {% endif %}

      <!-- awards response -->
      {% if data.response %}
      <p>{{ data.response | markdownify }}</p>
      {% endif %}

      <!-- awards submitted -->
      {% if data.Name != null %}
      <p>Submitted by: <span>{{ data.Name }}</span></p>
      {% endif %}

    </span>
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat">Close</a>
    {% if data.Website != null %}
    <a href="{{ data.Website }}" class="waves-effect btn-flat" target="_blank">{{ data.Organization }}</a>
    {% endif %}
  </div>

</div>
{% endif %}
{% endfor %}
{% endif %}