{% assign year = include.year %}
<ul id="page-content" class="collection with-header z-depth-1">
  <li id="accent" class="{{ page.color }} accent-1"></li>
  <li class="collection-header">
    <h4>The {{ year }} Awards</h4>
  </li>

  <!-- awards list -->
  {% assign sorted_data = site.data[year]awards | sort: "form" %}
  {% for data in sorted_data %} {% if data.Accepted == "Yes" %}
  <li class="collection-item avatar">
    <i class="material-icons circle">favorite</i>
    <p class="mdc-subheading-1">{{ data.form }}</p>
    <a href="#{{ data.name | append: '-' | append: data.form | slugify }}" class="mdc-headline modal-trigger">{{ data.name }}</a> {% if data.city %}
    <p class="mdc-subheading-2">{{ data.city }}, Colorado</p> {% endif %}
  </li> {% endif %} {% endfor %}
</ul>

{% if site.data[year]scholarship %}
<ul class="collection z-depth-1">
  <li id="accent" class="{{ page.color }} accent-1"></li>
  <!-- scholarship list -->
  {% assign sorted_data = site.data[year]scholarship | sort: "Name" %}
  {% for data in sorted_data %} {% if data.Accepted == "Yes" %}
  <li class="collection-item avatar">
    <i class="material-icons circle">star</i>
    <p class="mdc-subheading-1">Ann Deditz Scholarship Recipient</p>
    <a href="#{{ data.Timestamp | slugify}}-{{ data.Name | slugify }}" class="mdc-headline modal-trigger">{{ data.Name }}</a>
  </li> {% endif %} {% endfor %}
</ul> {% endif %}
