<!-- awards modals / id by name-form -->
{% assign year = include.year %}

{% if site.data[year]awards != null %}
{% for data in site.data[year]awards %}

{% if data.Accepted == "Yes" %}
<div id="{{ data.name | append: '-' | append: data.form | slugify }}" class="modal modal-fixed-footer">
  <div class="modal-content grey-text text-darken-2">
    <div class="hero caepa-yellow">
      <div class="hero-wrapper">
        <p class="mdc-subheading-2 adjust-margin">{{ page.title }}</p>
        <span class="mdc-display-2 white-text">{{ data.form }}</span>
      </div>
    </div>
    <!-- award nominee -->
    <div class="row">
      <p class="mdc-headline adjust-margin"> {% if data.email %}
        <a href="mailto:{{ data.email }}">{{ data.name }}</a> {% else %} {{ data.name }} {% endif %}
      </p> {% if data.city %}
      <p class="mdc-caption adjust-margin">{{ data.city }}, Colorado</p> {% endif %}

      <!-- awards response -->
      {% if data.response %} {{ data.response | markdownify }} {% endif %}

      <!-- awards submitted -->
      {% if data.Name %} <p>Submitted by: {{ data.Name }}</p> {% endif %}

    </div>
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat">Close</a>
    {% if data.Website != null %}
    <a href="{{ data.Website }}" class="waves-effect btn-flat" target="_blank">{{ data.Organization }}</a>
    {% endif %}
  </div>

</div>
{% endif %}
{% endfor %}
{% endif %}

<!-- scholarship -->
{% if site.data[year]scholarship != null %}
{% for data in site.data[year]scholarship %}

{% if data.Accepted == "Yes" %}
<div id="{{ data.Timestamp | slugify}}-{{ data.Name | slugify }}" class="modal modal-fixed-footer">
  <div class="modal-content grey-text text-darken-2">
    <div class="hero caepa-yellow">
      <div class="hero-wrapper">
        <p class="mdc-subheading-2 adjust-margin">{{ page.title }}</p>
        <span class="mdc-display-2 white-text">Ann Deditz Scholarship Recipient</span>
      </div>
    </div>
    <div class="row">
      <p class="mdc-headline adjust-margin"> {% if data.Email %}
        <a href="mailto:{{ data.Email }}">{{ data.Name }}</a> {% else %} {{ data.Name }} {% endif %}
      </p>

      <!-- scholarship response -->
      {% if data.Response %} {{ data.Response | markdownify }} {% endif %}

    </div>
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat">Close</a>
    {% if data.Website != null %}
    <a href="{{ data.Website }}" class="waves-effect btn-flat" target="_blank">{{ data.Organization }}</a>
    {% endif %}
  </div>

</div>
{% endif %}
{% endfor %}
{% endif %}
