{% assign year = include.year %}

<ul class="collection with-header">
  {% for event in site.data.rendezvous %}
  {% if event.year == year %}
  <li class="collection-header">
    <h3 class="grey-text text-darken-3 light">The {{ year }} Rendezvous</h3>
  </li>
  <!-- event -->
  <li class="collection-item">
    <div class="row">
      <div class="col s12 m2 center-align " style="margin:1.46rem 0 1.168rem 0;">
        <div class="container {{ page.color_accent }} circle" style="height:76px; width:76px; padding-top:9px;">
          <i class="medium material-icons white-text" style="display:block; line-height:4rem; font-size:3rem;">event</i>
        </div>
      </div>
      <div class="col s12 m10">
        <h4 class="grey-text text-darken-3">{{ page.title }}</h4>
        <ul class="flow-text" style="line-height:1.5;">
          <li>{{ event.start_date | date: "%A, %B %-d, %Y" }}</li>
          {% if event.end_date != event.start_date %}<li>{{ event.end_date | date: "%A, %B %-d, %Y" }}</li>{% endif %}
        </ul>
      </div>
    </div>
  </li>
  <!-- place -->
  <li class="collection-item">
    <div class="row">
      <div class="col s12 m2 center-align " style="margin:1.46rem 0 1.168rem 0;">
        <div class="container {{ page.color_accent }} circle" style="height:76px; width:76px; padding-top:9px;">
          <i class="medium material-icons white-text" style="display:block; line-height:4rem; font-size:3rem;">place</i>
        </div>
      </div>
      <div class="col s12 m10">
        <h4 class="grey-text text-darken-3">{{ event.location }}</h4>
        <ul class="flow-text" style="line-height:1.5;">
          <li>{{ event.address }}</li>
          <li>{{ event.city_state_zipcode }}</li>
          <li>{{ event.phone }}</li>
          <li><a href="{{ event.website }}">{{ event.website }}</a></li>
        </ul>
      </div>
    </div>
  </li>
  <!-- reservations -->
  <li class="collection-item">
    <div class="row">
      <div class="col s12 m2 center-align " style="margin:1.46rem 0 1.168rem 0;">
        <div class="container {{ page.color_accent }} circle" style="height:76px; width:76px; padding-top:9px;">
          <i class="medium material-icons white-text" style="display:block; line-height:4rem; font-size:3rem;">hotel</i>
        </div>
      </div>
      <div class="col s12 m10">
        <h4 class="grey-text text-darken-3">Reservations</h4>
        <ul class="flow-text" style="line-height:1.5;">
          <li>{{ event.reservations }}</li>
        </ul>
      </div>
    </div>
  </li>
  <!-- registration -->
  <li class="collection-item">
    <div class="row">
      <div class="col s12 m2 center-align " style="margin:1.46rem 0 1.168rem 0;">
        <div class="container {{ page.color_accent }} circle" style="height:76px; width:76px; padding-top:9px;">
          <i class="medium material-icons white-text" style="display:block; line-height:4rem; font-size:3rem;">loyalty</i>
        </div>
      </div>
      <div class="col s12 m10">
        <h4 class="grey-text text-darken-3">Registration</h4>
        <ul class="flow-text" style="line-height:1.5;">
          <li>Earlybird Registration Ends: {{ event.end_offer | date: "%A, %B %-d, %Y" }}</li>
          <li>Friday, October 14, 2016</li>
        </ul>
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th data-field="id"></th>
              <th data-field="name">One-Day</th>
              <th data-field="price">Two-Day</th>{% assign cat = include.category %}
              <th data-field="price">Lunch-Only</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="material-icons right">loyalty</i>Earlybird</td>
              <td>{{ event.offer1 }}</td>
              <td>{{ event.offer2 }}</td>
              <td>{{ event.lunch-only }}</td>
            </tr>
            <tr>
              <td>Fullprice</td>
              <td>{{ event.price1 }}</td>
              <td>{{ event.price2 }}</td>
              <td>{{ event.lunch-only }}</td>
            </tr>
          </tbody>      
        </table>
      </div>
    </div>
  </li>
  <!-- payment -->
  <li class="collection-item">
    <div class="row">
      <div class="col s12 m2 center-align " style="margin:1.46rem 0 1.168rem 0;">
        <div class="container {{ page.color_accent }} circle" style="height:76px; width:76px; padding-top:9px;">
          <i class="medium material-icons white-text" style="display:block; line-height:4rem; font-size:3rem;">payment</i>
        </div>
      </div>
      <div class="col s12 m10">
        <h4 class="grey-text text-darken-3">Payment</h4>
        <ul class="flow-text" style="line-height:1.5;">
          <li>Mail-in: {{ event.registration_mail }}</li>
          <li>Online: <a href="{{ event.registration }}">{{ event.registration }}</a></li>
        </ul>
        {% capture current_date %}{{ site.time | date: "%Y" }}{% endcapture %}
        {% if current_date == year %}

        {% include store.html %}

        <em>NOTE: You will be redirected to a SSL at checkout.</em>
        {% endif %}
      </div>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>