{% assign year = include.year %}
<!-- begin details  -->
<ul id="page-content" class="collection with-header z-depth-1">
  <li id="accent" class="{{ page.color }} accent-1"></li>  

  {% for event in site.data.rendezvous %}
  {% if event.year == year %}
  <li class="collection-header">
    <h4>{{ page.title | titleize }}</h4>
  </li>

  <!-- rendezvous -->
  <li class="collection-item avatar">
    <i class="material-icons circle {{ page.color }} accent-1">event</i>
    <span class="flow-text"><b>{{ page.theme }}</b></span>
    <p>{{ event.start_date | date: "%A, %B %-d, %Y" }}</p>
    {% if event.end_date != event.start_date %}
    <p>{{ event.end_date | date: "%A, %B %-d, %Y" }}</p>
    {% endif %}
  </li>
  <!-- place -->
  <li class="collection-item avatar">
    <i class="material-icons circle {{ page.color }} accent-1">place</i>
    <span class="flow-text"><b>{{ event.location }}</b></span>
    <ul>
      <li>{{ event.address }}</li>
      <li>{{ event.city_state_zipcode }}</li>
      <li>{{ event.phone }}</li>
      <li><address><a href="{{ event.website }}">{{ event.website }}</a></address></li>
    </ul>
  </li>
  <!-- reservations -->
  <li class="collection-item avatar">
    <i class="material-icons circle {{ page.color }} accent-1">hotel</i>
    <span class="flow-text"><b>Reservations</b></span>
    <address><a href="{{ event.reservations }}">{{ event.location }}</a></address>
  </li>
  <!-- registration -->
  <li class="collection-item avatar">
    <i class="material-icons circle {{ page.color }} accent-1">loyalty</i>
    <span class="flow-text"><b>Registration</b></span>
    <p><em>Earlybird Registration Ends: {{ event.end_offer | date: "%A, %B %-d, %Y" }}</em></p>
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th data-field="id"></th>
          <th data-field="name">One-Day</th>
          <th data-field="price">Two-Day</th>{% assign cat = include.category %}
          <th data-field="price">Lunch-Only</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="material-icons right">loyalty</i>Earlybird</td>
          <td>{{ event.offer1 }}</td>
          <td>{{ event.offer2 }}</td>
          <td>{{ event.lunch-only }}</td>
        </tr>
        <tr>
          <td>Fullprice</td>
          <td>{{ event.price1 }}</td>
          <td>{{ event.price2 }}</td>
          <td>{{ event.lunch-only }}</td>
        </tr>
      </tbody>
    </table>
  </li>
  <!-- payment if event in current year-->
  {% capture current_date %}{{ site.time | date: "%Y" }}{% endcapture %}
  {% if page.date > site.time %}
  <li class="collection-item avatar">
    <i class="material-icons circle {{ page.color }} accent-1">payment</i>
    <span class="flow-text"><b>Payment</b></span>
    <p>Mail-in: {{ event.registration_mail }}</p>
    <p>Online: <em><a href="{{ event.registration }}">{{ event.registration }}</a></em></p>
    {% include store.html %}
    <small><em>NOTE: You will be redirected to a SSL at checkout.</em></small>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
</ul>