{% assign year = include.year %}
<!-- begin keynotes-list  -->
<ul id="page-content" class="collection with-header z-depth-1">
  <li id="accent" class="{{ page.color }} accent-1"></li>
  <li class="collection-header">
    <h4>{{ year }} Keynotes</h4>
  </li>
  
  {% if site.data[year]keynotes == null %}
  <li class="collection-item">
    <p class="grey-text text-darken-2 light">To be announced</p>
  </li>
  
  {% else %}
  
  <!-- keynotes list -->
  {% assign sorted_data = site.data[year]keynotes | sort: "Timestamp" %}

  {% for data in sorted_data %}
  <li class="collection-item avatar">
    {% if data.Twitter != null %}
    <img class="circle" src="https://avatars.io/twitter{{ data.twitter }}" alt="vendor logo" />
    {% elsif data.Facebook != null %}
    <img class="circle" src="https://avatars.io/facebook{{ data.facebook }}" alt="vendor logo" />
    {% else %}
    <i class="material-icons circle {{ page.color }} accent-1">mic</i>
    {% endif %}
    <span class="flow-text"><b>{{ data.title }}</b></span>
    <p class="title"><strong>{{ data.name }}</strong></p>
    <small>{{ data.employer}}, {{ data.job-title }}</small>
    <p>{{ data.biography | markdownify }}</p>

    {% if data.email %}
    <a href="mailto:{{ data.email }}" class="secondary-content">
      <i class="material-icons">email</i>
    </a>
    {% endif %}

  </li>
  {% endfor %}
  {% endif %}
</ul>