<!-- keynotes modals / id by name-title -->
{% assign year = include.year %}

{% if site.data[year]keynotes != null %}
{% for data in site.data[year]keynotes %}

{% if data.Accepted == "Yes" %}
<div id="{{ data.name | append: '-' | append: data.title | slugify }}" class="modal modal-fixed-footer">

  <!-- keynotes modal -->
  <div class="modal-content">
    <span class="grey-text text-darken-2">
      <p class="light">The {{ year }} Rendezvous</p>      
      <!-- session number -->
      <p>{{ data.Timestamp | date: "%A, %B %-d, %Y" }}</p>

      <!-- keynotes organization -->
      <h4>{{ data.title }}</h4>

      <!-- keynotes name -->
      {% if data.email %}
      <address><a href="mailto:{{ data.email }}">{{ data.name }}</a></address>
      {% else %}
      <em>{{ data.name }}</em><br />
      {% endif %}

      <!-- keynotes employer -->
      {% if data.employer and data.job-title %}
      <small>{{ data.employer }}, {{ data.job-title }}</small>
      {% elsif data.employer %}
      <small>{{ data.employer }}</small>
      {% elsif data.job-title %}
      <small>{{ data.job-title }}</small>
      {% endif %}

      <!-- keynotes biography -->
      {% if data.biography %}
      <p>{{ data.biography | markdownify }}</p>
      {% endif %}

    </span>
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat">Close</a>
    {% if data.Website != null %}
    <a href="{{ data.Website }}" class="waves-effect btn-flat" target="_blank">{{ data.Organization }}</a>
    {% endif %}
  </div>

</div>
{% endif %}
{% endfor %}
{% endif %}