<!-- keynotes modals / id by name-title -->
{% assign year = include.year %}

{% if site.data[year]keynotes != null %}
{% for data in site.data[year]keynotes %}

{% if data.Accepted == "Yes" %}
<div id="{{ data.name | append: '-' | append: data.title | slugify }}" class="modal modal-fixed-footer">
  <div class="modal-content grey-text text-darken-2">
    <div class="hero caepa-yellow">
      <div class="hero-wrapper">
        <p class="mdc-subheading-2 adjust-margin">{{ page.title }}</p>
        <span class="mdc-display-2 white-text">{{ data.title }}</span>
      </div>
    </div>
    <div class="row">
      <p class="mdc-headline adjust-margin">{{ data.Timestamp | date: "%A, %B %-d, %Y %r" }}</p>
      <p class="mdc-headline adjust-margin"> {% if data.email %}
        <a href="mailto:{{ data.email }}">{{ data.name }}</a> {% else %} {{ data.name }} {% endif %}
      </p>

      <!-- keynotes employer --> {% if data.employer %}
      <p class="mdc-caption adjust-margin">{{ data.employer }}</p> {% endif %} {% if data.job-title %}
      <p class="mdc-caption adjust-margin">{{ data.job-title }}</p> {% endif %}

      <!-- keynotes biography -->
      {% if data.biography %} {{ data.biography | markdownify }} {% endif %}

    </div>
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat">Close</a>
    {% if data.Website != null %}
    <a href="{{ data.Website }}" class="waves-effect btn-flat" target="_blank">{{ data.Organization }}</a>
    {% endif %}
  </div>

</div>
{% endif %}
{% endfor %}
{% endif %}
