{% assign year = include.year %}
<!-- begin keynotes-list  -->
<ul id="page-content" class="collection with-header z-depth-1">
  <li id="accent" class="{{ page.color }} accent-1"></li>
  <li class="collection-header">
    <h4>{{ page.year }} Keynotes</h4>
  </li>
  
  {% if site.data[year]keynotes == null %}
  <li class="collection-item">
    <p class="grey-text text-darken-2 light">To be announced</p>
  </li>
  
  {% else %}
  
  <!-- keynotes list -->
  {% assign sorted_data = site.data[year]keynotes | sort: "Timestamp" %}

  {% for data in sorted_data %}
  <li class="collection-item avatar">
    <i class="material-icons circle {{ page.color }} accent-1">mic</i>
    <span class="flow-text"><b>{{ data.Date }}</b></span>
    <p class="title"><strong>{{ data.Name }}</strong></p>
    <p>{{ data.Description| strip_newlines }}</p>

    {% if data.Email %}
    <a href="mailto:{{ data.Email }}" class="secondary-content">
      <i class="material-icons">email</i>
    </a>
    {% endif %}

  </li>
  {% endfor %}
  {% endif %}
</ul>