<!-- keynotes -->
{% assign year = include.year %}
<ul class="collection with-header">
  <li class="collection-header truncate">
    <h3 class="grey-text text-darken-2 light">{{ "Keynotes" }}</h3>
  </li>
  {% if site.data[year]keynotes == null %}
  <li class="collection-item">
    <p class="grey-text text-darken-2 light">To be announced</p>
  </li>
  {% else %}
  <!-- keynotes list -->
  {% assign sorted_data = site.data[year]keynotes | sort: "Timestamp" %}

  {% for a in sorted_data %}
  <li class="collection-item avatar">
    <p class="title">
      <i class="material-icons left">grade</i>
      <span>{{ a }}</span>
    </p>
  </li>
  {% endfor %}
  {% endif %}
</ul>