<!-- session details modals / id by presentar-session-# -->
{% assign year = include.year %}

{% if site.data[year]sessions != null %}
{% for data in site.data[year]sessions %}
<div id="{{ data.Timestamp | slugify }}-{{ data.Name | append: '-' | append: data.Session | slugify }}" class="modal modal-fixed-footer">
  
  <!-- session details -->
  <div class="modal-content">
    <span class="grey-text text-darken-2">
      <!-- session number -->
      <span class="light">{{ data.Session | prepend: "Session " }}</span>
      
      <!-- session title -->
      <h4>{{ data.Presentation-Title }}</h4>
      
      <!-- session presentar / email -->
      {% if data.Email %}
      <address><a href="mailto:{{ data.Email }}">{{ data.Name }}</a></address>
      {% else %}
      <address>{{ data.Name }}</address>
      {% endif %}
      
      <!-- organization -->
      {% if data.Employer and data.Job-Title %}
      <small>{{ data.Employer }}, {{ data.Job-Title }}</small>
      {% elsif data.Employer %}
      <small>{{ data.Employer }}</small>
      {% elsif data.Job-Title %}
      <small>{{ data.Job-Title }}</small>
      {% endif %}
      
      
      <!-- session objectives -->
      {% if data.Objectives %}
      <p><strong>Objectives:</strong></p>
      <p class="browser-default">{{ data.Objectives | markdownify }}</p>
      {% endif %}
      
      <!-- session abstract -->
      {% if data.Presentation-Abstract %}
      <p><strong>Session abstract:</strong></p>
      <p>{{ data.Presentation-Abstract }}</p>
      {% endif %}
      
      <!-- session description -->
      {% if data.Presentation-Description %}
      <p><strong>Session description:</strong></p>
      <p>{{ data.Presentation-Description }}</p>
      {% endif %}
      
      <!-- session presentar -->
      {% if data.Biography %}
      <p><strong>About the presenter:</strong></p>
      <p>{{ data.Biography }}</p>
      {% endif %}
      
    </span>
  </div>
  
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat">Close</a>
    {% if data.Organization-Website != null %}
    <a href="{{ data.Organization-Website }}" class="waves-effect btn-flat" target="_blank">{{ data.Organization }}</a>
    {% endif %}
  </div>
  
</div>
{% endfor %}
{% endif %}