<!-- sessions -->
{% assign year = include.year %}
<!-- begin session navigation  -->

{% if site.data[year]sessions == null %}
<p class="grey-text text-darken-2 light flow-text">No Session Information Available</p>

{% else %}
<div class="collection with-header">
  <span class="collection-header truncate">
    <h3 class="grey-text text-darken-2 light">{{ "Sessions" }}</h3>
  </span>
  {% assign sorted_strand = site.data[year]sessions | group_by: "Conference-Strand" | sort: "name" %}

  <!-- session navigation list -->
  {% for strand in sorted_strand %}
  <a href="" data-activates="{{ strand.name | slugify }}" class="collection-item event-info truncate">{{ strand.name }}
    <span class="badge new sessions">{{ strand.items | size }}</span>
  </a>
  {% endfor %}
</div>

<!-- begin session sidenav -->
{% for strand in sorted_strand %}
<!-- session sidenav / listed by time / linked to session details modals -->
<ul id="{{ strand.name | slugify }}" class="side-nav grey darken-3">
  <li class="center-align">
    <a class="brand-logo white-text" style="font-weight:900; font-size:2.1rem;">
      <span>{{ site.title }}</span>
    </a>
  </li>
  <li style="padding:0 30px;">
    <h3 class="grey-text text-lighten-1 light flow-text truncate">{{ strand.name }}
      <span class="badge new sessions" style="margin-left:20px; right:'null';">{{ strand.items | size }}</span>
    </h3>
  </li>
  <ul class="collapsible" data-collapsible="accordion">
    {% assign sorted_time = strand.items | group_by: "Availabilty-Notes" | sort: "name" %}
    {% for time in sorted_time %}
    <li class="waves-effect waves-light active" style="width:100%;">
      <a class="collapsible-header grey-text text-lighten-2 active">
        <i class="material-icons">expand_more</i>
        <span style="font-weight: 500;">{{ time.name | upcase }}</span>
      </a>
      <div class="collapsible-body grey darken-2 white-text">
        <ul>
          {% assign sessions = time.items %}
          {% for session in sessions %}
          <li class="waves-effect waves-light" style="width:100%;">
            <a href="#{{ session.Name | append: '-' | append: session.Availabilty-Notes | slugify }}" class="modal-trigger grey-text text-lighten-3">{{ session."Presentation-Title" | strip_html | strip_newlines | replace: '_',' ' }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
</ul>
{% endfor %}

{% endif %}