<!-- sessions -->
{% assign year = include.year %}
<!-- begin session navigation  -->

{% if site.data[year]sessions == null %}
<p class="grey-text text-darken-2 light flow-text">No Information Available</p>

{% else %}
<div class="collection with-header">
  <span class="collection-header truncate">
    <h2 class="grey-text text-darken-2 light">{{ "Sessions" }}</h2>
  </span>
  {% assign sorted_strand = site.data[year]sessions | group_by: "Conference-Strand" | sort: "name" %}

  <!-- session navigation list -->
  {% for strand in sorted_strand %}
  <a href="" data-activates="{{ strand.name | slugify }}" class="collection-item event-info flow-text truncate">{{ strand.name }}
    <span class="badge new sessions">{{ strand.items | size }}</span>
  </a>
  {% endfor %}
</div>

<!-- begin session sidenav -->
{% for strand in sorted_strand %}
<!-- session sidenav / listed by time / linked to session details modals -->
<ul id="{{ strand.name | slugify }}" class="side-nav grey darken-3">
  <li class="center-align">
    <a class="brand-logo white-text" style="font-weight:900; font-size:2.1rem;">
      <span>{{ site.title }}</span>
    </a>
  </li>
  <li style="padding:0 30px;">
    <h3 class="grey-text text-lighten-1 light flow-text truncate">{{ strand.name }}
      <span class="badge new sessions" style="margin-left:20px; right:'null';">{{ strand.items | size }}</span>
    </h3>
  </li>
  <ul class="collapsible" data-collapsible="accordion">
    {% assign sorted_time = strand.items | group_by: "Availabilty-Notes" | sort: "name" %}
    {% for time in sorted_time %}
    <li class="waves-effect waves-light active" style="width:100%;">
      <a class="collapsible-header grey-text text-lighten-2 active">
        <i class="material-icons">expand_more</i>
        <span style="font-weight: 500;">{{ time.name | upcase }}</span>
      </a>
      <div class="collapsible-body grey darken-2 white-text">
        <ul>
          {% assign sessions = time.items %}
          {% for session in sessions %}
          <li class="waves-effect waves-light" style="width:100%;">
            <a href="#{{ session.Availabilty-Notes | prepend: '-' | prepend: session.Name | prepend: '-' | prepend: session.Conference-Strand | slugify }}" class="modal-trigger grey-text text-lighten-3">{{ session."Presentation-Title" | strip_html | strip_newlines | replace: '_',' ' }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
</ul>

<!-- session details modals / id by strand-presentar-time / circle session number  -->
{% assign sorted_sessions = strand.items %}
{% for session in sorted_sessions %}
<div id="{{ session.Availabilty-Notes | prepend: '-' | prepend: session.Name | prepend: '-' | prepend: session.Conference-Strand | slugify }}" class="modal modal-fixed-footer">
  <div class="modal-content">
    <!--session number -->
    <div class="center-align " style="margin:1.46rem 0 1.168rem 0;">
      <div class="container {{ page.color_accent }} circle" style="height:76px; width:76px; padding-top:9px;">
        <i class="medium material-icons white-text" style="display:block; line-height:4rem; font-size:3rem;">filter_{{ session."Availabilty-Notes" | replace: "Session ","" }}</i>
      </div>
    </div>
    <!-- session details -->
    <span class="flow-text">
      <!-- session title -->
      <h4 class="grey-text text-darken-1">{{ session."Presentation-Title" | strip_html | strip_newlines | replace: '_',' ' }}</h4>
      <!-- session presentar / email / organization -->
      <address><a href="mailto:{{ session.Email }}">{{ session."Name" }}</a></address>
      <label>{{ session."Employer" }}, {{ session."Job-Title" }}</label>
      <!-- session abstract -->
      <p style="text-align:justify;">{{ session."Presentation-Abstract" | strip_html | strip_newlines }}</p>
    </span>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat">Close</a>
    {% if session.Organization-Website != null %}
    <a href="{{ session.'Organization-Website' }}" class="waves-effect btn-flat" target="_blank">{{ session."Organization" }}</a>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endfor %}
{% endif %}