{% assign year = include.year %}
<!-- begin session-list  -->
<ul id="page-content" class="collection with-header z-depth-1">
  <li id="accent" class="{{ page.color }} accent-1"></li>
  <li class="collection-header">
    <h4>{{ year }} Sessions</h4>
  </li>

  {% if site.data[year]sessions == null %}
  <li class="collection-item">    
    <p class="grey-text text-darken-2 light">To be announced</p>
  </li>

  {% else %}

  <!-- begin session navigation -->
  <li class="collection-item">
    <div class="row">

      <!-- list search -->
      <div class="input-field col s12 m8">
        <input id="search" class="search" type="text" />
        <label for="search"><i class="material-icons left">search</i>Search by keyword</label>
      </div>

      <!-- list sort -->
      <div class="input-field col s12 m4">
        <select id="sort-sessions" onchange="changeValue();">
          <option value="presenter" class="active selected">Presenter</option>
          <option value="session">Session</option>
          <option value="strand">Strand</option>
          <option value="p-title">Title</option>
          <option value="vendor">Vendor</option>
        </select>
        <label>Sort by:</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" onclick="window.print()">
      <i class="material-icons left">print</i>Print Full Session List</button>
  </li>

  <!-- IMPORTANT, class="list" have to be at tbody -->
  <span class="list">
    {% for data in site.data[year]sessions %}
    <li class="collection-item avatar">
      <!-- IMPORTANT, classes used to sort -->
      {% if data.Vendor == 'Yes' %}
      <span class="vendor">
        {% if data.Twitter != null %}
        <img class="circle" src="https://avatars.io/twitter{{ data.Twitter }}" alt="vendor logo" />
        {% elsif data.Facebook != null %}
        <img class="circle" src="https://avatars.io/facebook{{ data.Facebook }}" alt="vendor logo" />
        {% else %}
        <i class="material-icons circle {{ page.color }} accent-1">store</i>
        {% endif %}
      </span>
      {% endif %}
      <span class="session right">{{ data.Session | prepend: "Session " }}</span>
      <p class="strand"><em>{{ data.Conference-Strand }}</em></p>
      <a href="#{{ data.Timestamp | slugify }}-{{ data.Name | append: '-' | append: data.Session | slugify }}" class="modal-trigger">
        <span class="p-title flow-text"><b>{{ data.Presentation-Title }}</b></span>
      </a>
      <p class="presenter"><strong>{{ data.Name }}</strong></p>
      <span class="hide abstract">{{ data.Presentation-Abstract | strip_newlines }}</span>
      <span class="hide description">{{ data.Presentation-Description | strip_newlines }}</span>
      <span class="hide objectives">{{ data.Objectives | markdownify }}</span>
    </li>
    {% endfor %}
  </span>
</ul>
{% endif %}

<!-- JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
<script>
  var options = {
    valueNames: [ 'abstract', 'description', 'presenter', 'session', 'strand', 'p-title', 'vendor' ]
  };

  var userList = new List('sessions', options);
</script>
<script>
  function changeValue(){
    var option=document.getElementById('sort-sessions').value;	
    if(option=="presenter"){
      userList.sort('presenter', { order: "asc" });
    }
    else if(option=="session"){
      userList.sort('session', { order: "asc" });
    }
    else if(option=="strand"){
      userList.sort('strand', { order: "asc" });
    }
    else if(option=="p-title"){
      userList.sort('p-title', { order: "asc" });
    }
    else if(option=="vendor"){
      userList.sort('vendor', { order: "desc" });
    }
  }
</script>