<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="2015-chart-1"></div>
<script>
  google.charts.load('current', {
    packages: ['corechart', 'bar']
  });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.arrayToDataTable([
      ['Year', 'Passed'],
      ['1999', 12764],
      ['2000', 13064],
      ['2001', 17457],
      ['2002', 9522],
      ['2003', 11670],
      ['2004', 11651],
      ['2005', 11453],
      ['2006', 10877],
      ['2007', 11771],
      ['2008', 13032],
      ['2009', 11980],
      ['2011', 13561],
      ['2012', 12987],
      ['2013', 15865],
      ['2014', 3156],
      ['2015', 4840],
    ]);
    var options = {
      chart: {
        title: 'GED Test Candidates Who Tested, Completed, and Passed in Washington, 1999-2015',
        subtitle: 'GED test changes and attainment'
      },
      vAxis: {
        format: 'long',
      },
      colors: ['#662222', '#424242', "#CC9933"],
      height: 500,
      legend: {
        position: "none"
      }
    };

    var materialChart = new google.charts.Bar(document.getElementById('2015-chart-1'));
    materialChart.draw(data, options);
  }
</script>
