<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" prefix="og: http://ogp.me/ns#">

{%- include head.html -%}

<body class="mdc-typography">

  <a class="mdc-button mdc-button--raised mdc-button--skiplink" href="#main-content">
    <span class="mdc-button__label">Skip to main content</span>
  </a>

  {{ content }}

<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<!--script src="{{ "/assets/js/main.js" | relative_url }}"></script-->
<script>
  window.mdc.autoInit();

  const drawer = new mdc.drawer.MDCDrawer(document.querySelector('.mdc-drawer--modal'));
  var el = document.querySelector('.mdc-top-app-bar__navigation-icon');
  if (el) {
    el.addEventListener('click', function(evt) {
      evt.preventDefault();
      drawer.open = true;
    });
  }

  const menu = new mdc.menu.MDCMenu(document.querySelector('#navigation-menu'));
  var el = document.querySelector('#navigation-button');
  if (el) {
    el.addEventListener('click', function(evt) {
      evt.preventDefault();
      menu.open = !menu.open;
      menu.setAnchorCorner(mdc.menu.Corner.BOTTOM_LEFT);
    });
  }

  const buttons = document.querySelectorAll('.mdc-button, .mdc-card__primary-action, .mdc-list-item, .mdc-image-list__image-aspect-container');
  for (var i = 0, button; button = buttons[i]; i++) {
    mdc.ripple.MDCRipple.attachTo(button);
  };

  const lists = document.querySelectorAll('[role="listbox"]');
  for (var i = 0, list; list = lists[i]; i++) {
    mdc.list.MDCList.attachTo(list);
    list.singleSelection = true;
  };

  const details = Array.from(document.querySelectorAll("details"));
  details.forEach((targetDetail) => {
    targetDetail.addEventListener("click", () => {
      details.forEach((detail) => {
        if (detail !== targetDetail) {
          detail.removeAttribute("open");
        }
      });
    });
  });

  //<!-- breaks out of scrollable element -->
  //var scroll = document.querySelector('.mdc-list-item--activated');
  //scroll.scrollIntoView({block:'center'});
</script>

</body>
</html>
