<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="mdc-typography">

  {%- include mdc-top-app-bar.html -%}

  <main class="mdc-top-app-bar--fixed-adjust" role="main">
    <header class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
          <h1 class="mdc-typography--headline1">{{ page.title }}</h1>
          <span>{{ page.theme }}</span>
        </div>
      </div>
    </header>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">

          {{ content }}

          {%- assign groups = site[page.slug] | group_by: "group" | sort: "name" -%}

          {%- for group in groups -%}
          <h2 class="mdc-typography--headline2">{{ group.name }}</h2>

          <ul class="mdc-image-list mdc-image-list--with-text-protection">

            {%- for item in group.items -%}
            <li class="mdc-image-list__item">
              <a href="{{ item.url }}">
                <div class="mdc-image-list__image-aspect-container mdc-ripple-surface">
                  <img class="mdc-image-list__image" src="{{ item.image }}" aria-hidden="true">
                </div>
                <div class="mdc-image-list__supporting">
                  <span class="mdc-image-list__label">{{ item.title }}</span>
                </div>
              </a>
            </li>
            {%- endfor -%}

          </ul>

          {%- endfor -%}

        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">

          {%- include social-icons.html -%}

        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="https://unpkg.com/material-components-web@{{ site.material-web-components }}/dist/material-components-web.js"></script>
  <script type="text/javascript">
    {%- include js/mdc-auto-init.js -%}
    {%- include js/mdc-drawer.js -%}
  </script>

</body>
</html>
