<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body class="mdc-typography">

  {%- include mdc-top-app-bar.html -%}

  <main class="mdc-top-app-bar--fixed-adjust" role="main">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">

          {{ content }}

        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">

          {%- include social-icons.html -%}

        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.37.1/dist/material-components-web.js"></script>
  <script type="text/javascript">
    {%- include js/mdc-auto-init.js -%}
    {%- include js/mdc-menu.js -%}
  </script>

</body>
</html>
