<div itemscope itemtype="http://schema.org/Event">
  
  <meta itemprop="attendee" content="CAEPA">

  <img itemprop="image" content="{{ image_path }}" src="{{ image_path }}" />
  <span itemprop="name">{{ name }}</span>
  <span itemprop="startDate" content="{{ date | date_to_xmlschema }}">{{ date }}</span>
  <span itemprop="doorTime" content="{{ time | date_to_xmlschema }}">{{ time }}</span>

  <div itemprop="location" itemscope itemtype="http://schema.org/Place">
    <span itemprop="name">{{ venue }}</span>
    <a itemprop="url" href="{{ venue_url }}">{{ venue_url }}</a>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">{{ address }}</span><br>
      <span itemprop="addressLocality">{{ city }}</span>,
      <span itemprop="addressRegion">{{ state}}</span>
      <span itemprop="postalCode">{{ zip-code }}</span>
    </div>
  </div>

  <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <span itemprop="price" content="{{ ticket_price | remove: '$' }}">{{ ticket_price }}</span>
    <span itemprop="priceCurrency" content="USD" />
    <a itemprop="url" href="{{ ticket_url }}">{{ ticket_url }}</a>
  </span>

  <span itemprop="description">{{ content }}</span>

</div>