---
layout: default_alt
---
<!-- Welcome Message Structure -->
<section id="welcome" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Letter from the President</h4>
    {{ content }}
    <p><strong>{{ page.author }}</strong></p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>Close</a>
  </div>
</section>

{% capture y %}{{ page.year }}{% endcapture%}
<header id="rendezvous" class="{{ page.color }} white-text" role="banner">
  <div id="top">

    {% include navigation_alt.html %}

    <div id="title" class="nav-wrapper">
      <h1>{{ page.theme }}</h1>
    </div>
    <nav id="crumbs" class="transparent z-depth-0">
      <div class="nav-wrapper truncate">
        {% assign crumbs = page.url | split: '/' %}
        {% for crumb in crumbs %}
        {% if forloop.first == true %}
        <a class="breadcrumb" href="{{ site.baseurl | append: '/' }}">{{ "Home" | capitalize }}</a>

        {% elsif forloop.last == true %}
        <a class="breadcrumb">{{ page.title | titleize }}</a>

        {% else %}
        <a class="breadcrumb" href="{{ site.baseurl }}{% assign crumb_limit = forloop.index %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-', ' ' | replace: '_', ' ' | capitalize }}</a>

        {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
  <div id="toc">
    <div class="row">
      <div class="col s12 m4 l3 right">
        <h5 class="hide-on-small-only">{{ page.year }}</h5>
        <ul id="tabs" class="table-of-contents">
          <li class="tab"><a href="#details">Details</a></li>
          <li class="tab"><a href="#schedule" onclick="myFunction()">Schedule</a></li>
          <li class="tab"><a href="#awards">Awards</a></li>
          <li class="tab"><a href="#keynotes">Keynotes</a></li>
          <li class="tab"><a href="#sessions">Sessions</a></li>
          <li class="tab"><a href="#vendors">Vendors</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="grey-text text-darken-1" role="main">
  <section id="rendezvous" class="row">
    <article id="details">
      <div class="col s12 m8 l9">
        {% include event/details.html year=y %}
      </div>
    </article>
    <article id="schedule">
      <div class="col s12 m8 l9">
        {% include event/schedule.html year=y %}
      </div>
    </article>
    <article id="awards">
      <div class="col s12 m8 l9">
        {% include event/awards-list.html year=y %}
        {% include event/awards-modal.html year=y %}
      </div>
    </article>
    <article id="keynotes">
      <div class="col s12 m8 l9">
        {% include event/keynotes-list.html year=y %}
        {% include event/keynotes-modal.html year=y %}
      </div>
    </article>
    <article id="sessions">
      <div class="col s12 m8 l9">
        {% include event/sessions-list.html year=y %}
        {% include event/sessions-modal.html year=y %}
      </div>
    </article>
    <article id="vendors">
      <div class="col s12 m8 l9">
        {% include event/vendors-list.html year=y %}
        {% include event/vendors-modal.html year=y %}
      </div>
    </article>
    <aside>
      <div class="col s12 m4 l3 right">
        <div class="section">
          <div class="collection">
            <a href="http://www.caepa.org/forms/" class="collection-item">
              <i class="material-icons left">description</i>
              <span>Rendezvous Forms</span>
            </a>
          </div>
          <div class="collection">
            <a href="#welcome" class="collection-item modal-trigger">
              <i class="material-icons left">grade</i>
              <span>Letter from the President</span>
            </a>
            {% if page.docs != null %}
            {% for doc in page.docs %}
            <a href="{{ doc.url }}" class="collection-item">
              <i class="material-icons left">cloud_download</i>
              <span>{{ doc.title }}</span>
            </a>
            {% endfor %}
            {% endif %}
          </div>
          <div class="collection">
            <a href="http://www.caepa.org/forums/" class="collection-item">
              <i class="material-icons left">forum</i>
              <span>Rendezvous Forum</span>
            </a>
          </div>
        </div>
        {% if page.sponsors != null %}
        <div class="section">
          <h5>Our {{ y }} Sponsors</h5>
          <div class="slider">
            <ul class="slides">
              {% for sponsor in page.sponsors %}
              <li>
                <img src="https://avatars.io/twitter{{ sponsor.twitter }}" alt="sponsor-logo" />
              </li>
              <!--
<div class="collection with-header">
<div class="collection-header">
<h5>Thank You Sponsors!</h5>
</div>
<div class="collection-item avatar">
<img src="https://avatars.io/twitter{{ sponsor.twitter }}" alt="sponsor-logo" class="circle" />
<span class="title"><strong>{{ sponsor.title }}</strong></span>
<p>
{% if sponsor.url %}
<a href="{{ sponsor.url }}" class="truncate">{{ sponsor.url }}</a>
{% endif %}
</p>
{% if sponsor.ad %}
<a href="{{ sponsor.ad }}" class="truncate">View Advertisment</a>
{% endif %}
</div-->       
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </aside>
  </section>
</main>
