---
layout: page
tabs: [Details, Keynotes, Sessions, Vendors, Awards]
---
<!-- Welcome Message Structure -->
<section id="welcome" class="modal modal-fixed-footer">
  <div class="modal-content flow-text" style="text-align:justify;">
    <h4>Letter from the President</h4>
    {{ content }}
    <p><strong>{{ page.author }}</strong></p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>Close</a>
  </div>
</section>

{% capture y %}{{ page.year }}{% endcapture%}

<section id="tab0">
  {% include event/details.html year = y %}
</section>

<section id="tab1">
{% include event/keynotes.html year = y %}
</section>

<section id="tab2">
{% include event/sessions.html year = y %}
</section>

<section id="tab3">
{% include event/vendors.html year = y %}
</section>

<section id="tab4">
{% include event/awards.html year = y %}
</section>

<footer class="row section grey lighten-3">
  <div class="col s12" role="button">
    {% if page.previous.url %}
    <a rel="prev" class="btn-flat btn-large waves-effect left" href="{{page.previous.url}}">
      <i class="material-icons left">chevron_left</i>Previous</a>
    {% endif %}
    {% if page.next.url %}
    <a rel="next" class="btn-flat btn-large waves-effect right" href="{{page.next.url}}">
      <i class="material-icons right">chevron_right</i>Next</a>
    {% endif %}
  </div>
</footer>