---
layout: page
tabs: [Details, Awards, Keynotes, Sessions, Vendors]
---
<!-- Welcome Message Structure -->
<section id="welcome" class="modal modal-fixed-footer">
  <div class="modal-content flow-text">
    <h4>Letter from the President</h4>
    {{ content }}
    <p><strong>{{ page.author }}</strong></p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>Close</a>
  </div>
</section>

{% capture y %}{{ page.year }}{% endcapture%}

<section id="tab0">
  <!-- main tab -->
  <div class="col s12 m8 l7 offset-l1">
    {% include event/details.html year = y %}
  </div>
  <!-- main tab aside -->
  <aside class="col s12 m4 l3">
    <div class="collection">
    <!-- forms -->
      <a href="#welcome" class="collection-item modal-trigger">
        <i class="material-icons left">grade</i>
        <span>Letter from the President</span>
      </a>
      <a href="http://www.caepa.org/forms/" class="collection-item">
        <i class="material-icons left">description</i>
        <span>Rendezvous Forms</span>
      </a>
    <!-- program download
      <a href="" class="collection-item" style="width:100%;">
        <i class="material-icons left">cloud_download</i>
        <span>Program</span>
      </a> -->
    </div>
    <!-- awards -->
    {% include event/awards-aside.html year = y %}
    <!-- keynote speakers -->    
    {% include event/keynotes-aside.html year = y %}
    <!-- session count -->
    {% include event/sessions-aside.html year = y %}
    <!-- vendors -->
    {% include event/vendors-aside.html year = y %}
  </aside>
</section>

<section id="tab1">
  <div class="col s12 l10 offset-l1">
    {% include event/awards-list.html year = y %}
  </div>
</section>

<section id="tab2">
  <div class="col s12 l10 offset-l1">
    {% include event/keynotes-list.html year = y %}
  </div>
</section>

<section id="tab3">
  <div class="col s12 l10 offset-l1">
    {% include event/sessions-list.html year = y %}
  </div>
</section>

<section id="tab4">
  <div class="col s12 l10 offset-l1">
    {% include event/vendors-list.html year = y %}
  </div>
</section>

<!-- post navigation
<footer class="row section grey lighten-3">
  <div class="col s12" role="button">
    {% if page.previous.url %}
    <a rel="prev" class="btn-flat btn-large waves-effect left" href="{{page.previous.url}}">
      <i class="material-icons left">chevron_left</i>Previous</a>
    {% endif %}
    {% if page.next.url %}
    <a rel="next" class="btn-flat btn-large waves-effect right" href="{{page.next.url}}">
      <i class="material-icons right">chevron_right</i>Next</a>
    {% endif %}
  </div>
</footer>-->


{% include event/sessions-modal.html year = y %}