<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="mdc-typography">

  {%- include mdc-top-app-bar.html -%}

  <header class="mdc-top-app-bar--fixed-adjust table-content">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
          <h1>
            <img src="{{ 'caepa-title+.svg' | prepend: 'assets/img/caepa/' | absolute_url }}" alt="{{ site.title }}" />
          </h1>
        </div>
      </div>
    </div>
  </header>

  <main role="main">

    <section>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <article class="mdc-card mdc-card--outlined">

              {{ content }}

            </article>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <h1 class="mdc-typography--headline1">Professional Learning</h1>

            {%- assign page = site.pages | where: 'slug', 'professional-learning' | first -%}
            {{ page.content }}

          </div>
        </div>
      </div>
    </section>

  </main>

  <footer>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">

          {%- include social-icons.html -%}

        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.38.0/dist/material-components-web.js"></script>

  {%- comment -%} // required for classList in older browsers (explorer 8+) {%- endcomment -%}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.2.20171210/classList.min.js"></script>
  <script type="text/javascript">
    {%- include js/mdc-auto-init.js -%}
    {%- include js/mdc-menu.js -%}
    {%- include js/mdc-tab-bar.js -%}
  </script>

</body>
</html>
