<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="mdc-typography">

  {%- include mdc-top-app-bar.html -%}

  <header class="mdc-top-app-bar--fixed-adjust table-content">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
          <h1>
            <img src="{{ 'caepa-title+.svg' | prepend: 'assets/img/caepa/' | absolute_url }}" alt="{{ site.title }}" />
          </h1>
        </div>
      </div>
    </div>
  </header>

  <main role="main">

    <section>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <article class="mdc-card mdc-card--outlined">

              {{ content }}

            </article>

          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <h1 class="mdc-typography--headline1">Adult Basic Education Authorization</h1>
            
            <article class="mdc-card mdc-card--outlined">

              {%- assign page = site.pages | where: 'slug', 'abea' | first -%}
              {{ page.excerpt }}
            
              <div class="mdc-card__action-buttons">
                <a href="{{ page.url | absolute_url }}" class="mdc-button mdc-button--outlined mdc-card__action mdc-card__action--button">Learn more</a>
                <a href="https://www.cde.state.co.us/cdeadult/instructors/abea" class="mdc-button mdc-card__action mdc-card__action--button">CDE</a>
              </div>
            </article>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <h1 class="mdc-typography--headline1">Professional Learning</h1>

            {%- assign page = site.pages | where: 'slug', 'professional-learning' | first -%}
            {{ page.content }}
            
            {%- assign pages = site.professional-learning | where: 'availability', 'true' -%}
              {%- for page in pages -%}
                <article class="mdc-card mdc-card--outlined">

                  {%- assign page = site.pages | where: 'slug', 'abea' | first -%}
                  {{ page.excerpt }}

                  <div class="mdc-card__action-buttons">
                    <a href="{{ page.url | absolute_url }}" class="mdc-button mdc-button--outlined mdc-card__action mdc-card__action--button">Learn more</a>
                    
                    {%- if page.register -%}
                      <a href="{{ page.register }}" class="mdc-button mdc-button--outlined mdc-card__action mdc-card__action--button">Register</a>
                    {%- endif -%}
                    
                  </div>
                </article>
              {%- endfor -%}

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">

            <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/nL3JfSUrPXQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <h1 class="mdc-typography--headline1">Our Sponsors</h1>

            {% include mdc-image-list__sponsors.html %}

          </div>
        </div>
      </div>
    </section>

  </main>

  <footer>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">

          {%- include social-icons.html -%}

        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="https://unpkg.com/material-components-web@{{ site.material-web-components }}/dist/material-components-web.js"></script>

  <script type="text/javascript">
    {%- include js/mdc-auto-init.js -%}
    {%- include js/mdc-drawer.js -%}
    {%- include js/mdc-tab-bar.js -%}
  </script>

</body>
</html>
