---
layout: default
image: caepa/caepa-title+.svg
tabs:
  - title: Welcome
    id: welcome
  - title: About
    id: about
  - title: Board
    id: board
---
<main id="content" class="content valign-wrapper" role="main">
  <div class="container">
    <div id="welcome" class="center scale-transition scale-out">
      <img src="../assets/img/{{ layout.image }}" alt="CAEPA" />
      {% include social-icons.html %}
    </div>
    <div id="about" class="center" style="display:none;">
      <p class="mdc-display-3 adjust-margin">CAEPA is volunteer run, and a membership supported 501(c)(3) nonprofit organization.</p>
      <p class="flow-text">CAEPA members represent adult education and family literacy programs from across Colorado that are diverse in nature: local community and faith-based organizations, community colleges, school districts, corrections facilities, workforce districts and libraries. Altogether, CAEPA affiliates account for nearly 15,000 of Colorado's learners each year. See the <a href="../bylaws">CAEPA Bylaws</a> for detailed information.</p>
      <p class="flow-text">CAEPA provides a context for ongoing professional dialogue and sharing in Adult Education - including advocacy, networking, lobbying, research and programming, resources, policy development, and coordination with the Colorado Department of Education, Correctional Education Association, and other public agencies.</p>
    </div>
    <div id="board" style="display:none;">
      <p class="center mdc-display-3 adjust-margin">{{ site.description }}</p>
      <div class="row">
        <div class="col s12 m6">
          <ul class="collection with-header">
            <li class="collection-header"><p class="mdc-title">Executive Board</p></li>
            <li class="collection-item">...</li>
          </ul>
        </div>
        <div class="col s12 m6">
          <ul class="collection with-header">
            <li class="collection-header"><p class="mdc-title">Board of Directors</p></li>
            <li class="collection-item">...</li>
          </ul>
        </div>
      </div>
    </div>
</main>


{% include mailchimp.html %}
