---
layout: default
---
<main id="content" class="content" role="main">
  <article class="container flow-text">
    <h1 class="mdc-display-2 adjust-margin">{{ page.title }}</h1>

    {{ content }}

  </article>
</main>

<ul id="sidenav" class="side-nav fixed">
  <li class="title"><span class="mdc-title">{{ page.collection | capitalize }}</span></li>

  <!-- replace with if statement -->
  {% for document in site[page.collection] %} {% if document.url contains "index" %} {% continue %} {% endif %}
  <li{% if document.url == page.url %} class="active"{% endif %}><a href="{{ document.url }}" class="truncate">{{ document.title }}</a></li>
  {% endfor %}

</ul>

<!-- move to includes
{% if page.collection %}
  {% assign document = site[page.collection] %}
{% endif %}

{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
<footer class="navbar-fixed footer">
  <nav class="caepa-gray">
    <div class="nav-wrapper">
      {% if prevurl %}<ul class="left"><li><a href="{{ prevurl }}">Previous: {{ prevtitle }}</a></li></ul>{% endif %}
      {% if nexturl %}<ul class="right"><li><a href="{{ nexturl }}">Next: {{ nexttitle }}</a></li></ul>{% endif %}
    </div>
  </nav>
</footer>
 -->
<script>
/* post pagination keyboard shortcuts */
document.body.onkeyup = function(e){
  if (e.keyCode == '37') { window.location = '{{ prevurl }}'; } // left arrow key
  if (e.keyCode == '39') { window.location = '{{ nexturl }}'; } // right arrow key
};
</script>
