---
layout: default_alt
---
<article class="post">

  <header class="post-header {{ page.color }} white-text" role="banner">
    <div id="top">

      {% include navigation_alt.html %}

      <div id="title" class="nav-wrapper">
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </div>
      <nav id="crumbs" class="transparent z-depth-0">
        <div class="nav-wrapper truncate">
          {% assign crumbs = page.url | split: '/' %}
          {% for crumb in crumbs %}
          {% if forloop.first == true %}
          <a class="breadcrumb" href="{{ site.baseurl | append: '/' }}">{{ "Home" | capitalize }}</a>

          {% elsif forloop.last == true %}
          <a class="breadcrumb">{{ page.title | titleize }}</a>

          {% else %}
          <a class="breadcrumb" href="{{ site.baseurl }}{% assign crumb_limit = forloop.index %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-', ' ' | replace: '_', ' ' | capitalize }}</a>

          {% endif %}
          {% endfor %}
        </div>
      </nav>
    </div>    
  </header>

  <div class="post-content container">

    {% capture url %}{{ page.url | remove: '/' }}{% endcapture%}
    {% include post_card.html category = url %}

    {% if page.title == "Forms" %}
    {% include page_card.html %}
    {% endif %}

  </div>

</article>