---
layout: page-events
---
<!-- Welcome Message Structure -->
<section id="welcome" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Letter from the President</h4>
    {{ content }}
    <p><strong>{{ page.author }}</strong></p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>Close</a>
  </div>
</section>

{% capture y %}{{ page.year }}{% endcapture%}
<header id="rendezvous" class="hide caepa-red white-text" role="banner">
  <div id="title" class="nav-wrapper">
    <h1>{{ page.theme }}</h1>
  </div>
</header>
<section id="content" class="content" role="main">
  <div class="row">
    <div class="col s12 m8 l9">
      <article id="details" class="section scrollspy">
        {% include event/details.html year=y %}
      </article>
      <article id="schedule" class="section scrollspy">
        {% include event/schedule.html year=y %}
      </article>
      <article id="awards" class="section scrollspy">
        {% include event/awards-list.html year=y %} {% include event/awards-modal.html year=y %}
      </article>
      <article id="keynotes" class="section scrollspy">
        {% include event/keynotes-list.html year=y %} {% include event/keynotes-modal.html year=y %}
      </article>
      <article id="sessions" class="section scrollspy">
        {% include event/sessions-list.html year=y %} {% include event/sessions-modal.html year=y %}
      </article>
      <article id="vendors" class="section scrollspy">
        {% include event/vendors-list.html year=y %} {% include event/vendors-modal.html year=y %}
      </article>
    </div>
    <div class="col hide-on-small-only m4 l3 no-padding">
      <aside class="toc-wrapper pinned">
        <ul class="section table-of-contents">
          <li><span class="mdc-subheading-2">{{ page.title }}</span></li>
          <li><a href="#details"><i class="material-icons left">home</i>Details</a></li>
          <li><a href="#schedule" onclick="myFunction()"><i class="material-icons left">date_range</i>Schedule</a></li>
          <li><a href="#awards"><i class="material-icons left">favorite</i>Awards</a></li>
          <li><a href="#keynotes"><i class="material-icons left">speaker_notes</i>Keynotes</a></li>
          <li><a href="#sessions"><i class="material-icons left">featured_play_list</i>Sessions</a></li>
          <li><a href="#vendors"><i class="material-icons left">store</i>Vendors</a></li>
          <li><div class="divider"></div></li>
          <li><span class="mdc-subheading-2">Messages</span></li>
          <li><a href="#welcome" class="modal-trigger"><i class="material-icons left">person</i><span>Letter from the President</span></a></li>
          <li><a href="http://www.caepa.org/forums.html" class="collection-item"><i class="material-icons left">forum</i><span>Rendezvous Forum</span></a></li>
          <li><div class="divider"></div></li> {% if page.docs != null %}
          <li><span class="mdc-subheading-2">Documents</span></li> {% for doc in page.docs %}
          <li><a href="{{ doc.url }}" class="collection-item"><i class="material-icons left">attachment</i><span>{{ doc.title }}</span></a></li>{% endfor %} {% endif %}
          <li><div class="divider"></div></li> {% if page.sponsors != null %}
          <li><span class="mdc-subheading-2">Sponsors</span></li>
          <li class="slider">
            <ul class="slides"> {% for sponsor in page.sponsors %}
              <li><img src="https://avatars.io/twitter{{ sponsor.twitter }}" alt="sponsor-logo" /></li> {% endfor %}
            </ul>
          </li> {% endif %}
        </ul>
      </aside>
    </div>
  </div>
</section>

{% comment %} <!--
<div class="collection with-header">
<div class="collection-header">
<h5>Thank You Sponsors!</h5>
</div>
<div class="collection-item avatar">
<img src="https://avatars.io/twitter{{ sponsor.twitter }}" alt="sponsor-logo" class="circle" />
<span class="title"><strong>{{ sponsor.title }}</strong></span>
<p>
{% if sponsor.url %}
<a href="{{ sponsor.url }}" class="truncate">{{ sponsor.url }}</a>
{% endif %}
</p>
{% if sponsor.ad %}
<a href="{{ sponsor.ad }}" class="truncate">View Advertisment</a>
{% endif %}
</div--> {% endcomment %}
