---
layout: default
---
<section class="post">

  <header class="{{ page.color_accent }} white-text z-depth-1">
    <div class="container">
      <div class="section">
        <div class="row valign-wrapper">
          <div class="col s12 m9 no-padding">
            <h1 class="left thin">{{ page.title }}</h1>
          </div>
          <div class="col m3 hide-on-small-only" style="padding:2.1rem; padding-bottom:0;">{% if page.image_path != null %}
            <img src="{{ page.image_path | prepend: "/img/events/" }}" alt="thumbnail" class="responsive-img z-depth-1" />{% else %}
            <img src="{{ site.logo }}" alt="thumbnail" class="circle responsive-img z-depth-1" style="background-color:ghostwhite; padding:1rem;" />{% endif %}
          </div>
        </div>
      </div>
      {% if page.tabs != null %}
      <div class="row">
        <div class="col s12 m9 l7 no-padding">
          <ul class="tabs">
            {% for tab in page.tabs %}
            <li class="tab waves-effect waves-light">
              <a href="{% cycle '#tab1', '#tab2', '#tab3', '#tab4', '#tab5' %}">{{ tab }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </header>

  <div class="page-content section">
    {{ content }}
  </div>

</section>