---
layout: default
---
{% if page.url == "/forms/" %} {{ content }} {% else %}
<!-- combine statements -->
{% for data in site.data.forms %} {% for data in data.docs %} {% if page.url contains data.url %}
<iframe src="{{ data.google_url }}" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> {% endif %} {% endfor %} {% endfor %}
{% endif %}
<ul id="sidenav" class="side-nav fixed">
  <li class="title"><span class="mdc-title">Forms</span></li> {% for data in site.data.forms %} {% if forloop.first == false %}
  <li><div class="divider"></div></li> {% endif %}
  <li><span class="subheader">{{ data.title }}</a></li> {% for data in data.docs %}
  <li{% if page.url contains data.url %} class="active"{% endif %}><a target="{% if data.url %}_self{% else %}_blank{% endif %}" href="{% if data.url %}{{ data.url }}{% else %}{{ data.google_url }}{% endif %}" class="waves-effect truncate"><i class="material-icons">description</i>{{ data.title }}</a></li> {% endfor %} {% endfor %}
</ul>
