---
layout: default
---

{% for post in site.categories[page.slug] %}
<article class="mdc-card mdc-card--outlined" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h2 class="mdc-typography--headline2" itemprop="name headline">{{ post.title | escape }}</h2>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
        {{ post.date | date: date_format }}
      </time>
      {%- if post.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span>
      {%- endif -%}</p>
  </header>
  <div class="mdc-card__action-buttons">
    <a href="{{ post.url | absolute_url }}" class="mdc-button mdc-card__action mdc-card__action--button">Learn more</a>
  </div>
</article>
{%- endfor -%}
