---
layout: default
---
<article id="tab0" class="post section container">
  <header>{% for tag in page.tags %}
    <span class="chip">{{ tag }}</span>{% endfor %}
  </header>

  <section class="post-content flow-text">
    {{ content }}
  </section>

  {% include navigation.html %}

</article>

<aside id="tab1" class="section container">
  <header>
    <h2 class="hide grey-text text-darken-1">{{ page.tabs[1] }}</h2>
  </header>
  
  {% capture categories %}{{ page.categories }}{% endcapture%}
  {% include post_card.html category = categories %}
  
</aside>