---
layout: default
---
<article class="post">

  {% include header.html %}

  <main class="post-content section container">
    <div id="tab0" class="flow-text" style="text-align:justify;">
      
      {% for tag in page.tags %}<span class="chip">{{ tag }}</span>{% endfor %}

      {{ content }}
      
    </div>
  </main>

  <footer class="row section container grey lighten-3">
    <div class="col s12" role="button">
      {% if page.previous.url %}
      <a rel="prev" class="btn-flat btn-large waves-effect left" href="{{page.previous.url}}">
        <i class="material-icons left">chevron_left</i>Previous</a>
      {% endif %}
      {% if page.next.url %}
      <a rel="next" class="btn-flat btn-large waves-effect right" href="{{page.next.url}}">
        <i class="material-icons right">chevron_right</i>Next</a>
      {% endif %}
    </div>
  </footer>

</article>

<aside id="tab1" class="section container">

  {% capture categories %}{{ page.categories }}{% endcapture%}
  {% include post_card.html category = categories %}

</aside>