---
layout: page
title: Events
icon: event

tabs: [Upcoming, List, History]
---
<article id="tab0">
  <h2 class="grey-text text-darken-1">{{ page.tabs[0] }}
    <span class="thin"> | {{ page.title }}</span>
  </h2>
  {% for post in site.categories.events reversed %}  
    {% if post.date > site.time %}
  
      {% include event_card.html %}
  
    {% endif %}  
  {% endfor %}
</article>

<article id="tab1">
  <h2 class="hide grey-text text-darken-1">{{ page.tabs[1] }}</h2>
  {% capture url %}{{ page.url | remove: '/' }}{% endcapture%}
  {% include post_card.html category = url %}
</article>

<article id="tab2">
  <h2 class="hide grey-text text-darken-1">{{ page.tabs[2] }}</h2>
  <iframe src={{ "event_history.html" | prepend: site.baseurl }} frameborder="0" marginheight="0" marginwidth="0" width="100%" height="500">loading...</iframe>
</article>