---
layout: page
title: Forms
tabs: [Events, General]
---
<article id="tab0">
  {% for page in site.forms %}
  {% for tag in page.tags %}
  {% if tag contains "Events" %}
    
  {% include page_card.html items="site.forms" tabs="Events" %}


  {% endif %}
  {% endfor %}
  {% endfor %}

</article>

<article id="tab1">
  {% for page in site.forms %}
  {% for tag in page.tags %}
  {% if tag contains "General" %}
    
  {% include page_card.html items="site.forms" tabs="General" %}


  {% endif %}
  {% endfor %}
  {% endfor %}
</article>