---
layout: page
title: Forms
tabs: [Events, General]
---
{% capture url %}{{ page.url | remove: "/" }}{% endcapture %}

{% capture tab0 %}{{ page.tabs[0] }}{% endcapture %}
{% capture tab1 %}{{ page.tabs[1] }}{% endcapture %}
{% capture tab2 %}{{ page.tabs[2] }}{% endcapture %}
{% capture tab3 %}{{ page.tabs[3] }}{% endcapture %}
{% capture tab4 %}{{ page.tabs[4] }}{% endcapture %}
{% capture tab5 %}{{ page.tabs[5] }}{% endcapture %}

{% for tab in page.tabs %}
<section id="tab{{ forloop.index0 }}" class="col s12 l10 offset-l1">
  {% if forloop.index0 == 0 %}
  {% include page_card.html items=url tab=tab0 %}
  
  {% elsif forloop.index0 == 1 %}
  {% include page_card.html items=url tab=tab1 %}
  
  {% elsif forloop.index0 == 2 %}
  {% include page_card.html items=url tab=tab2 %}
  
  {% elsif forloop.index0 == 3 %}
  {% include page_card.html items=url tab=tab3 %}
  
  {% elsif forloop.index0 == 4 %}
  {% include page_card.html items=url tab=tab4 %}
  
  {% elsif forloop.index0 == 5 %}
  {% include page_card.html items=url tab=tab5 %}
  
  {% endif %}
</section>
{% endfor %}